# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [1]:
import pandas as pd
import numpy as np
import math
import json
% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

In [2]:
from datetime import datetime

from sklearn.metrics import accuracy_score,f1_score
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [3]:
print("Portfolio Size = {}".format(portfolio.shape))
portfolio.head()

Portfolio Size = (10, 6)

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5

In [4]:
print("Profile Size = {}".format(profile.shape))
profile.head()

Profile Size = (17000, 5)

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [5]:
print("Transcript Size = {}".format(transcript.shape))
transcript.head()

Transcript Size = (306534, 4)

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}

In [6]:
def check_nan(dataframe):
    nan_columns = dataframe.columns[dataframe.isna().any()].tolist()
    total = len(dataframe)
    print("Total : {}".format(total))
    for column in nan_columns:
        count = dataframe[column].isna().sum()
        print("{} : {}, remaining : {}".format(column, count, total - count))

In [7]:
check_nan(portfolio)

Total : 10

In [8]:
portfolio_nan = portfolio

In [9]:
check_nan(profile)

Total : 17000
gender : 2175, remaining : 14825
income : 2175, remaining : 14825

In [10]:
profile_nan = profile.dropna()
profile_nan = profile_nan.reset_index(drop=True)
profile_nan

,age,became_member_on,gender,id,income
0,55,20170715,F,0610b486422d4921ae7d2bf64640c50b,112000.0
1,75,20170509,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0
2,68,20180426,M,e2127556f4f64592b11af22de27a7932,70000.0
3,65,20180209,M,389bc3fa690240e798340f5a15918d5c,53000.0
4,58,20171111,M,2eeac8d8feae4a8cad5a6af0499a211d,51000.0
5,61,20170911,F,aa4862eba776480b8bb9c68455b8c2e1,57000.0
6,26,20140213,M,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0
7,62,20160211,F,31dda685af34476cad5bc968bdb01c53,71000.0
8,49,20141113,M,62cf5e10845442329191fc246e7bcea3,52000.0
9,57,20171231,M,6445de3b47274c759400cd68131d91b4,42000.0
10,61,20180501,F,a448667f336b42c9a66fc5ffd5d73772,40000.0
11,40,20160504,F,440cf1fd7580490c971d8c651ed962af,71000.0
12,64,20170909,M,4b0da7e80e5945209a1fdddfe813dbe0,100000.0
13,78,20170616,F,c27e0d6ab72c455a8bb66d980963de60,71000.0
14,42,20130811,M,f806632c011441378d4646567f357a21,69000.0
15,56,20180428,F,d058f73bf8674a26a95227db098147b1,88000.0
16,33,20170926,F,c6c9884912c645429f3333f912b55f44,52000.0
17,46,20170911,F,7429a044884842d6862f516c38b1156f,59000.0
18,59,20150121,M,ebe7ef46ea6f4963a7dd49f501b26779,41000.0
19,67,20140823,M,5917d13f6fa04286abdf95f4d5cefb1e,96000.0
20,53,20170916,O,d1ede868e29245ea91818a903fec04c6,52000.0
21,22,20170925,M,1e9420836d554513ab90eba98552d0a9,70000.0
22,96,20171117,F,868317b9be554cb18e50bc68484749a2,89000.0
23,40,20160709,M,f082d80f0aac47a99173ba8ef8fc1909,33000.0
24,69,20160814,F,102e9454054946fda62242d2e176fdce,57000.0
25,56,20140511,M,8dabe2142cdf4013a6f4786edf8ab00f,68000.0
26,26,20170812,F,9f30b375d7bd4c62a884ffe7034e09ee,63000.0
27,75,20151112,M,6e014185620b49bd98749f728747572f,40000.0
28,20,20160711,F,02c083884c7d45b39cc68e1314fec56c,30000.0
29,45,20180707,M,c0d210398dee4a0895b24444a5fcd1d2,33000.0
...,...,...,...,...,...
14795,62,20170112,F,8c3fbf6b89b248bb99b7a6ca628f401c,80000.0
14796,52,20180408,M,68213b08d99a4ae1b0dcb72aebd9aa35,62000.0
14797,52,20180409,M,e340cbf00a914f0c958577c0af36ed8a,34000.0
14798,54,20150126,M,10316535e185400fb093c371d62254e3,51000.0
14799,54,20150626,M,cec1cdc6b77e41abbdce8903c5522e7e,53000.0
14800,74,20170725,M,2c6f50c1c07a444896e2a4e31d724f92,87000.0
14801,67,20151107,M,a2e6029e17b6466187a40b66e333a73e,94000.0
14802,52,20180522,F,6e71b66784844d1ab8376ac8ab096d4b,75000.0
14803,44,20170119,F,e2fd53ed790240c586b3188f23542cca,51000.0
14804,30,20151012,M,08eb126ad33f447ca3ad076482445c05,57000.0
14805,59,20160113,F,f88e91a11d8f405b9a47ad3741415b83,71000.0
14806,61,20171231,F,1b4df4b48bf64727a4c445909aea1251,81000.0
14807,39,20160921,F,122c0c2a3c2540848f8c3fdc37e97639,54000.0
14808,29,20170220,F,54bead4179c44b71acc4e8398181d183,58000.0
14809,63,20130922,F,a00058cf10334a308c68e7631c529907,52000.0
14810,84,20160629,M,1966fa40d2f84620b2b1b9b64f8e0209,93000.0
14811,72,20150404,F,ff737c250d2343729ade04c4f6eb1001,65000.0
14812,75,20160716,F,392d23b2c958493197f647bedfe4f418,78000.0
14813,26,20180619,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0
14814,59,20170731,F,bf3069b178fe40d789dd027901bc406b,63000.0
14815,57,20160709,M,76ddbd6576844afe811f1a3c0fbb5bec,40000.0
14816,64,20180104,M,f653cf2d8bba42d0a53c2937ee2e5893,51000.0
14817,70,20160310,F,79edb810789c447e8d212a324b44cc16,39000.0
14818,21,20170917,F,400d0536e8794cbb855b0d882d67cbda,72000.0
14819,60,20180505,M,cb23b66c56f64b109d673d5e56574529,113000.0
14820,45,20180604,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0
14821,61,20180713,M,2cb4f97358b841b9a9773a7aa05a9d77,72000.0
14822,49,20170126,M,01d26f638c274aa0b965d24cefe3183f,73000.0
14823,83,20160307,F,9dc1421481194dcd9400aec7c9ae6366,50000.0
14824,62,20170722,F,e4052622e5ba45a8b96b59aba68cf068,82000.0

In [11]:
check_nan(transcript)

Total : 306534

In [12]:
transcript_nan = transcript

In [13]:
def do_one_hot_encoding(dataframe, column_list):
    for column in column_list:
        column_dummies = pd.get_dummies(dataframe[column])
        dataframe = dataframe.drop(column, axis = 1)
        dataframe = dataframe.join(column_dummies)
    return dataframe

In [14]:
columns = ['offer_type']
portfolio_encoded = do_one_hot_encoding(portfolio_nan, columns)
portfolio_encoded.head()

,channels,difficulty,duration,id,reward,bogo,discount,informational
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,10,1,0,0
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,10,1,0,0
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,0,0,0,1
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,1,0,0
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,0,1,0

In [15]:
columns = ['gender']
profile_encoded = do_one_hot_encoding(profile_nan, columns)
profile_encoded.head()

   age  became_member_on                                id    income  F  M  O
0   55          20170715  0610b486422d4921ae7d2bf64640c50b  112000.0  1  0  0
1   75          20170509  78afa995795e4d85b5d9ceeca43f5fef  100000.0  1  0  0
2   68          20180426  e2127556f4f64592b11af22de27a7932   70000.0  0  1  0
3   65          20180209  389bc3fa690240e798340f5a15918d5c   53000.0  0  1  0
4   58          20171111  2eeac8d8feae4a8cad5a6af0499a211d   51000.0  0  1  0

In [16]:
columns = ['event']
transcript_encoded = do_one_hot_encoding(transcript_nan, columns)
transcript_encoded.head()

,person,time,value,offer completed,offer received,offer viewed,transaction
0,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0
1,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0
2,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,1,0,0
4,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,1,0,0

In [17]:
all_keys  = []
def display_all_keys(x):
   
    if x.keys() not in all_keys:
        all_keys.append(x.keys())

In [18]:
transcript_encoded['value'].apply(lambda x: display_all_keys(x))
print(all_keys)

[dict_keys(['offer id']), dict_keys(['amount']), dict_keys(['offer_id', 'reward'])]

In [19]:
def change_name(x, from_name, to_name):
    if from_name in x.keys():
        x[to_name] = x.pop(from_name)
    return x

In [20]:
transcript_encoded['value'].apply(lambda x: change_name(x, 'offer id', 'offer_id'))

0          {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1          {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2          {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
3          {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4          {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
5          {'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
6          {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
7          {'offer_id': '3f207df678b143eea3cee63160fa8bed'}
8          {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
9          {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
10         {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
11         {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
12         {'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
13         {'offer_id': '3f207df678b143eea3cee63160fa8bed'}
14         {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
15         {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'}
16         {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
17         {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
18         {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
19         {'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
20         {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
21         {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
22         {'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}
23         {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
24         {'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2'}
25         {'offer_id': '2906b810c7d4411798c6938adc9daaa5'}
26         {'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d'}
27         {'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd'}
28         {'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
29         {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'}
                                ...
306504                                     {'amount': 4.89}
306505                                     {'amount': 4.48}
306506    {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306507     {'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
306508                                     {'amount': 1.19}
306509    {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306510                                    {'amount': 14.31}
306511                                     {'amount': 2.37}
306512                                     {'amount': 6.92}
306513                                    {'amount': 12.73}
306514                                      {'amount': 8.2}
306515                                      {'amount': 2.6}
306516                                      {'amount': 9.2}
306517                                     {'amount': 11.7}
306518                                    {'amount': 40.67}
306519                                    {'amount': 31.13}
306520                       {'amount': 1.6400000000000001}
306521                                    {'amount': 17.35}
306522                                     {'amount': 4.42}
306523                                    {'amount': 18.35}
306524                                    {'amount': 25.14}
306525                                    {'amount': 43.58}
306526                                    {'amount': 22.64}
306527    {'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...
306528                                      {'amount': 2.2}
306529                       {'amount': 1.5899999999999999}
306530                                     {'amount': 9.53}
306531                                     {'amount': 3.61}
306532                       {'amount': 3.5300000000000002}
306533                                     {'amount': 4.05}
Name: value, Length: 306534, dtype: object

In [21]:
all_keys = []
transcript_encoded['value'].apply(lambda x: display_all_keys(x))
print(all_keys)

[dict_keys(['offer_id']), dict_keys(['amount']), dict_keys(['offer_id', 'reward'])]

In [22]:
def check_not_offer(x, column):
    if column in x.keys() :
        return x[column]

In [23]:
offer_ids = transcript_encoded['value'].apply(lambda x: check_not_offer(x, 'offer_id'))

In [24]:
offer_ids = offer_ids.to_frame()
offer_ids.columns = ['offer_id']
offer_ids.head()

                           offer_id
0  9b98b8c7a33c4b65b9aebfe6a799e6d9
1  0b1e1539f2cc45b7b9fa7c272da2e1d7
2  2906b810c7d4411798c6938adc9daaa5
3  fafdcd668e3743c1bb461111dcafc2a4
4  4d5c57ea9a6940dd891ad53e9dbe8da0

In [25]:
transcript_offer_id = transcript_encoded.join(offer_ids)

In [26]:
transcript_offer_id

,person,time,value,offer completed,offer received,offer viewed,transaction,offer_id
0,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
1,a03223e636434f42ac4c3df47e8bac43,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
2,e2127556f4f64592b11af22de27a7932,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0,2906b810c7d4411798c6938adc9daaa5
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4
4,68617ca6246f4fbc85e91a2a49552598,0,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0
5,389bc3fa690240e798340f5a15918d5c,0,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d
6,c4863c7985cf408faee930f111475da3,0,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2
7,2eeac8d8feae4a8cad5a6af0499a211d,0,{'offer_id': '3f207df678b143eea3cee63160fa8bed'},0,1,0,0,3f207df678b143eea3cee63160fa8bed
8,aa4862eba776480b8bb9c68455b8c2e1,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
9,31dda685af34476cad5bc968bdb01c53,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
10,744d603ef08c4f33af5a61c8c7628d1c,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
11,3d02345581554e81b7b289ab5e288078,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
12,4b0da7e80e5945209a1fdddfe813dbe0,0,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd
13,c27e0d6ab72c455a8bb66d980963de60,0,{'offer_id': '3f207df678b143eea3cee63160fa8bed'},0,1,0,0,3f207df678b143eea3cee63160fa8bed
14,d53717f5400c4e84affdaeda9dd926b3,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
15,f806632c011441378d4646567f357a21,0,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4
16,d058f73bf8674a26a95227db098147b1,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
17,65aba5c617294649aeb624da249e1ee5,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0,2906b810c7d4411798c6938adc9daaa5
18,ebe7ef46ea6f4963a7dd49f501b26779,0,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
19,1e9420836d554513ab90eba98552d0a9,0,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd
20,868317b9be554cb18e50bc68484749a2,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0,2906b810c7d4411798c6938adc9daaa5
21,f082d80f0aac47a99173ba8ef8fc1909,0,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
22,102e9454054946fda62242d2e176fdce,0,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0
23,4beeb3ed64dd4898b0edf2f6b67426d3,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0,2906b810c7d4411798c6938adc9daaa5
24,9f30b375d7bd4c62a884ffe7034e09ee,0,{'offer_id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2
25,25c906289d154b66bf579693f89481c9,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0,2906b810c7d4411798c6938adc9daaa5
26,6e014185620b49bd98749f728747572f,0,{'offer_id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d
27,02c083884c7d45b39cc68e1314fec56c,0,{'offer_id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd
28,c0d210398dee4a0895b24444a5fcd1d2,0,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9
29,8be4463721e14d7fa600686bf8c8b2ed,0,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4
...,...,...,...,...,...,...,...,...
306504,8524d450673b4c24869b6c94380006de,714,{'amount': 4.89},0,0,0,1,None
306505,b895c57e8cd047a8872ce02aa54759d6,714,{'amount': 4.48},0,0,0,1,None
306506,b895c57e8cd047a8872ce02aa54759d6,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4
306507,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,0,1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7
306508,8431c16f8e1d440880db371a68f82dd0,714,{'amount': 1.19},0,0,0,1,None
306509,8431c16f8e1d440880db371a68f82dd0,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4
306510,ba620885e51c4b0ea64a4f61daad494f,714,{'amount': 14.31},0,0,0,1,None
306511,a1a8f40407c444cc848468275308958a,714,{'amount': 2.37},0,0,0,1,None
306512,8d80970192fa496f99d6b45c470a4b60,714,{'amount': 6.92},0,0,0,1,None
306513,bde275066f3c4fa0bff3093e3b866a2c,714,{'amount': 12.73},0,0,0,1,None
306514,f1e4fd36e5a0446f83861308bddf6945,714,{'amount': 8.2},0,0,0,1,None
306515,0b64be3b241c4407a5c9a71781173829,714,{'amount': 2.6},0,0,0,1,None
306516,86d03d35d7e0434b935e7743e83be3a0,714,{'amount': 9.2},0,0,0,1,None
306517,3408fd05c781401f8442fb6dbaaea9c7,714,{'amount': 11.7},0,0,0,1,None
306518,1593d617fac246ef8e50dbb0ffd77f5f,714,{'amount': 40.67},0,0,0,1,None
306519,f1b31d07b5d84f69a2d5f1d07843989e,714,{'amount': 31.13},0,0,0,1,None
306520,2ce987015ec0404a97ba333e8e814090,714,{'amount': 1.6400000000000001},0,0,0,1,None
306521,2e33545f0a764d27b2ccff95fc8d72c4,714,{'amount': 17.35},0,0,0,1,None
306522,d1c4500ace2e45e9a45d3cd2fccac8d8,714,{'amount': 4.42},0,0,0,1,None
306523,b65affd9e07346a1906364a396950e3d,714,{'amount': 18.35},0,0,0,1,None
306524,d613ca9c59dd42f497bdbf6178da54a7,714,{'amount': 25.14},0,0,0,1,None
306525,eec70ab28af74a22a4aeb889c0317944,714,{'amount': 43.58},0,0,0,1,None
306526,24f56b5e1849462093931b164eb803b5,714,{'amount': 22.64},0,0,0,1,None
306527,24f56b5e1849462093931b164eb803b5,714,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4...,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4
306528,5ca2620962114246ab218fc648eb3934,714,{'amount': 2.2},0,0,0,1,None
306529,b3a1272bc9904337b331bf348c3e8c17,714,{'amount': 1.5899999999999999},0,0,0,1,None
306530,68213b08d99a4ae1b0dcb72aebd9aa35,714,{'amount': 9.53},0,0,0,1,None
306531,a00058cf10334a308c68e7631c529907,714,{'amount': 3.61},0,0,0,1,None
306532,76ddbd6576844afe811f1a3c0fbb5bec,714,{'amount': 3.5300000000000002},0,0,0,1,None
306533,c02b10e8752c4d8e9b73f918558531f7,714,{'amount': 4.05},0,0,0,1,None

In [27]:
column = 'amount'
offer_ids = transcript_encoded['value'].apply(lambda x: check_not_offer(x, column))
offer_ids = offer_ids.to_frame()
offer_ids.columns = [column]
offer_ids

        amount
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
...        ...
306504    4.89
306505    4.48
306506     NaN
306507     NaN
306508    1.19
306509     NaN
306510   14.31
306511    2.37
306512    6.92
306513   12.73
306514    8.20
306515    2.60
306516    9.20
306517   11.70
306518   40.67
306519   31.13
306520    1.64
306521   17.35
306522    4.42
306523   18.35
306524   25.14
306525   43.58
306526   22.64
306527     NaN
306528    2.20
306529    1.59
306530    9.53
306531    3.61
306532    3.53
306533    4.05

[306534 rows x 1 columns]

In [28]:
transcript_amount = transcript_offer_id.join(offer_ids)
transcript_amount.head()

,person,time,value,offer completed,offer received,offer viewed,transaction,offer_id,amount
0,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
1,a03223e636434f42ac4c3df47e8bac43,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
2,e2127556f4f64592b11af22de27a7932,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN
4,68617ca6246f4fbc85e91a2a49552598,0,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN

In [29]:
column = 'reward'
offer_ids = transcript_encoded['value'].apply(lambda x: check_not_offer(x, column))
offer_ids = offer_ids.to_frame()
offer_ids.columns = [column]
offer_ids.dropna()

        reward
12658      2.0
12672      2.0
12679      5.0
12692     10.0
12697     10.0
12717     10.0
12721      3.0
12744      5.0
12764      2.0
12767     10.0
12780      5.0
12784      5.0
12786      2.0
12798     10.0
12817      3.0
12826      2.0
12835      3.0
12841      3.0
12862     10.0
12865      5.0
12900     10.0
12936      5.0
12943      5.0
12972      3.0
12988      2.0
12997      2.0
13021      5.0
13036      5.0
13043      2.0
13056      5.0
...        ...
306249     3.0
306255     5.0
306260     5.0
306265     5.0
306284     2.0
306292     5.0
306295     2.0
306306    10.0
306340     2.0
306344     5.0
306348     5.0
306357     3.0
306365     2.0
306374     2.0
306376     5.0
306404    10.0
306407     3.0
306410     5.0
306423     5.0
306430     5.0
306440     5.0
306444     5.0
306455     5.0
306456     5.0
306470     2.0
306475     3.0
306497     3.0
306506     2.0
306509     2.0
306527     2.0

[33579 rows x 1 columns]

In [30]:
transcript_reward = transcript_amount.join(offer_ids)
transcript_reward.head()

,person,time,value,offer completed,offer received,offer viewed,transaction,offer_id,amount,reward
0,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer_id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
1,a03223e636434f42ac4c3df47e8bac43,0,{'offer_id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
2,e2127556f4f64592b11af22de27a7932,0,{'offer_id': '2906b810c7d4411798c6938adc9daaa5'},0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer_id': 'fafdcd668e3743c1bb461111dcafc2a4'},0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
4,68617ca6246f4fbc85e91a2a49552598,0,{'offer_id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN

In [31]:
transcript_on_value = transcript_reward.drop('value', axis = 1)
transcript_on_value

,person,time,offer completed,offer received,offer viewed,transaction,offer_id,amount,reward
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
1,a03223e636434f42ac4c3df47e8bac43,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
2,e2127556f4f64592b11af22de27a7932,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
4,68617ca6246f4fbc85e91a2a49552598,0,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN
5,389bc3fa690240e798340f5a15918d5c,0,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN
6,c4863c7985cf408faee930f111475da3,0,0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,NaN
7,2eeac8d8feae4a8cad5a6af0499a211d,0,0,1,0,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN
8,aa4862eba776480b8bb9c68455b8c2e1,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
9,31dda685af34476cad5bc968bdb01c53,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
10,744d603ef08c4f33af5a61c8c7628d1c,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
11,3d02345581554e81b7b289ab5e288078,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
12,4b0da7e80e5945209a1fdddfe813dbe0,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN
13,c27e0d6ab72c455a8bb66d980963de60,0,0,1,0,0,3f207df678b143eea3cee63160fa8bed,NaN,NaN
14,d53717f5400c4e84affdaeda9dd926b3,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
15,f806632c011441378d4646567f357a21,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
16,d058f73bf8674a26a95227db098147b1,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
17,65aba5c617294649aeb624da249e1ee5,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
18,ebe7ef46ea6f4963a7dd49f501b26779,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
19,1e9420836d554513ab90eba98552d0a9,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN
20,868317b9be554cb18e50bc68484749a2,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
21,f082d80f0aac47a99173ba8ef8fc1909,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
22,102e9454054946fda62242d2e176fdce,0,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN
23,4beeb3ed64dd4898b0edf2f6b67426d3,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
24,9f30b375d7bd4c62a884ffe7034e09ee,0,0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,NaN
25,25c906289d154b66bf579693f89481c9,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
26,6e014185620b49bd98749f728747572f,0,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,NaN
27,02c083884c7d45b39cc68e1314fec56c,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,NaN
28,c0d210398dee4a0895b24444a5fcd1d2,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
29,8be4463721e14d7fa600686bf8c8b2ed,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
...,...,...,...,...,...,...,...,...,...
306504,8524d450673b4c24869b6c94380006de,714,0,0,0,1,None,4.89,NaN
306505,b895c57e8cd047a8872ce02aa54759d6,714,0,0,0,1,None,4.48,NaN
306506,b895c57e8cd047a8872ce02aa54759d6,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0
306507,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,0,0,1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
306508,8431c16f8e1d440880db371a68f82dd0,714,0,0,0,1,None,1.19,NaN
306509,8431c16f8e1d440880db371a68f82dd0,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0
306510,ba620885e51c4b0ea64a4f61daad494f,714,0,0,0,1,None,14.31,NaN
306511,a1a8f40407c444cc848468275308958a,714,0,0,0,1,None,2.37,NaN
306512,8d80970192fa496f99d6b45c470a4b60,714,0,0,0,1,None,6.92,NaN
306513,bde275066f3c4fa0bff3093e3b866a2c,714,0,0,0,1,None,12.73,NaN
306514,f1e4fd36e5a0446f83861308bddf6945,714,0,0,0,1,None,8.20,NaN
306515,0b64be3b241c4407a5c9a71781173829,714,0,0,0,1,None,2.60,NaN
306516,86d03d35d7e0434b935e7743e83be3a0,714,0,0,0,1,None,9.20,NaN
306517,3408fd05c781401f8442fb6dbaaea9c7,714,0,0,0,1,None,11.70,NaN
306518,1593d617fac246ef8e50dbb0ffd77f5f,714,0,0,0,1,None,40.67,NaN
306519,f1b31d07b5d84f69a2d5f1d07843989e,714,0,0,0,1,None,31.13,NaN
306520,2ce987015ec0404a97ba333e8e814090,714,0,0,0,1,None,1.64,NaN
306521,2e33545f0a764d27b2ccff95fc8d72c4,714,0,0,0,1,None,17.35,NaN
306522,d1c4500ace2e45e9a45d3cd2fccac8d8,714,0,0,0,1,None,4.42,NaN
306523,b65affd9e07346a1906364a396950e3d,714,0,0,0,1,None,18.35,NaN
306524,d613ca9c59dd42f497bdbf6178da54a7,714,0,0,0,1,None,25.14,NaN
306525,eec70ab28af74a22a4aeb889c0317944,714,0,0,0,1,None,43.58,NaN
306526,24f56b5e1849462093931b164eb803b5,714,0,0,0,1,None,22.64,NaN
306527,24f56b5e1849462093931b164eb803b5,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0
306528,5ca2620962114246ab218fc648eb3934,714,0,0,0,1,None,2.20,NaN
306529,b3a1272bc9904337b331bf348c3e8c17,714,0,0,0,1,None,1.59,NaN
306530,68213b08d99a4ae1b0dcb72aebd9aa35,714,0,0,0,1,None,9.53,NaN
306531,a00058cf10334a308c68e7631c529907,714,0,0,0,1,None,3.61,NaN
306532,76ddbd6576844afe811f1a3c0fbb5bec,714,0,0,0,1,None,3.53,NaN
306533,c02b10e8752c4d8e9b73f918558531f7,714,0,0,0,1,None,4.05,NaN

In [32]:
portfolio_encoded

,channels,difficulty,duration,id,reward,bogo,discount,informational
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,10,1,0,0
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,10,1,0,0
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,0,0,0,1
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,1,0,0
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,0,1,0
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,3,0,1,0
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,2,0,1,0
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,0,0,0,1
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,5,1,0,0
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,2,0,1,0

In [33]:
def list_to_dataframe(x, column):
    if column in x:
        return 1
    else:
        return 0

In [34]:
values = ['email', 'web', 'mobile', 'social']
for i in values:
    portfolio_encoded_series = portfolio_encoded['channels'].apply(lambda x: list_to_dataframe(x, i))
    portfolio_encoded_series = portfolio_encoded_series.to_frame()
    portfolio_encoded_series.columns = [i]
    portfolio_encoded = portfolio_encoded.join(portfolio_encoded_series)
portfolio_encoded

,channels,difficulty,duration,id,reward,bogo,discount,informational,email,web,mobile,social
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,10,1,0,0,1,0,1,1
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,10,1,0,0,1,1,1,1
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,0,0,0,1,1,1,1,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,1,0,0,1,1,1,0
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,0,1,0,1,1,0,0
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,3,0,1,0,1,1,1,1
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,2,0,1,0,1,1,1,1
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,0,0,0,1,1,0,1,1
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,5,1,0,0,1,1,1,1
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,2,0,1,0,1,1,1,0

In [35]:
portfolio_channels = portfolio_encoded.drop('channels', axis = 1)
portfolio_channels

,difficulty,duration,id,reward,bogo,discount,informational,email,web,mobile,social
0,10,7,ae264e3637204a6fb9bb56bc8210ddfd,10,1,0,0,1,0,1,1
1,10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,10,1,0,0,1,1,1,1
2,0,4,3f207df678b143eea3cee63160fa8bed,0,0,0,1,1,1,1,0
3,5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,1,0,0,1,1,1,0
4,20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,0,1,0,1,1,0,0
5,7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,3,0,1,0,1,1,1,1
6,10,10,fafdcd668e3743c1bb461111dcafc2a4,2,0,1,0,1,1,1,1
7,0,3,5a8bc65990b245e5a138643cd4eb9837,0,0,0,1,1,0,1,1
8,5,5,f19421c1d4aa40978ebb69ca19b0e20d,5,1,0,0,1,1,1,1
9,10,7,2906b810c7d4411798c6938adc9daaa5,2,0,1,0,1,1,1,0

In [36]:
portfolio_channels = portfolio_channels.drop('email', axis = 1)
portfolio_channels

,difficulty,duration,id,reward,bogo,discount,informational,web,mobile,social
0,10,7,ae264e3637204a6fb9bb56bc8210ddfd,10,1,0,0,0,1,1
1,10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,10,1,0,0,1,1,1
2,0,4,3f207df678b143eea3cee63160fa8bed,0,0,0,1,1,1,0
3,5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,1,0,0,1,1,0
4,20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,0,1,0,1,0,0
5,7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,3,0,1,0,1,1,1
6,10,10,fafdcd668e3743c1bb461111dcafc2a4,2,0,1,0,1,1,1
7,0,3,5a8bc65990b245e5a138643cd4eb9837,0,0,0,1,0,1,1
8,5,5,f19421c1d4aa40978ebb69ca19b0e20d,5,1,0,0,1,1,1
9,10,7,2906b810c7d4411798c6938adc9daaa5,2,0,1,0,1,1,0

In [37]:
transcript_on_value['reward'].fillna(0, inplace=True)
transcript_on_value

,person,time,offer completed,offer received,offer viewed,transaction,offer_id,amount,reward
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,0.0
1,a03223e636434f42ac4c3df47e8bac43,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
2,e2127556f4f64592b11af22de27a7932,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,0.0
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,0.0
4,68617ca6246f4fbc85e91a2a49552598,0,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,0.0
5,389bc3fa690240e798340f5a15918d5c,0,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,0.0
6,c4863c7985cf408faee930f111475da3,0,0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,0.0
7,2eeac8d8feae4a8cad5a6af0499a211d,0,0,1,0,0,3f207df678b143eea3cee63160fa8bed,NaN,0.0
8,aa4862eba776480b8bb9c68455b8c2e1,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
9,31dda685af34476cad5bc968bdb01c53,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
10,744d603ef08c4f33af5a61c8c7628d1c,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
11,3d02345581554e81b7b289ab5e288078,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
12,4b0da7e80e5945209a1fdddfe813dbe0,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,0.0
13,c27e0d6ab72c455a8bb66d980963de60,0,0,1,0,0,3f207df678b143eea3cee63160fa8bed,NaN,0.0
14,d53717f5400c4e84affdaeda9dd926b3,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
15,f806632c011441378d4646567f357a21,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,0.0
16,d058f73bf8674a26a95227db098147b1,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
17,65aba5c617294649aeb624da249e1ee5,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,0.0
18,ebe7ef46ea6f4963a7dd49f501b26779,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,0.0
19,1e9420836d554513ab90eba98552d0a9,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,0.0
20,868317b9be554cb18e50bc68484749a2,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,0.0
21,f082d80f0aac47a99173ba8ef8fc1909,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,0.0
22,102e9454054946fda62242d2e176fdce,0,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,0.0
23,4beeb3ed64dd4898b0edf2f6b67426d3,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,0.0
24,9f30b375d7bd4c62a884ffe7034e09ee,0,0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN,0.0
25,25c906289d154b66bf579693f89481c9,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,NaN,0.0
26,6e014185620b49bd98749f728747572f,0,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN,0.0
27,02c083884c7d45b39cc68e1314fec56c,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN,0.0
28,c0d210398dee4a0895b24444a5fcd1d2,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,0.0
29,8be4463721e14d7fa600686bf8c8b2ed,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,0.0
...,...,...,...,...,...,...,...,...,...
306504,8524d450673b4c24869b6c94380006de,714,0,0,0,1,None,4.89,0.0
306505,b895c57e8cd047a8872ce02aa54759d6,714,0,0,0,1,None,4.48,0.0
306506,b895c57e8cd047a8872ce02aa54759d6,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0
306507,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,0,0,1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,0.0
306508,8431c16f8e1d440880db371a68f82dd0,714,0,0,0,1,None,1.19,0.0
306509,8431c16f8e1d440880db371a68f82dd0,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0
306510,ba620885e51c4b0ea64a4f61daad494f,714,0,0,0,1,None,14.31,0.0
306511,a1a8f40407c444cc848468275308958a,714,0,0,0,1,None,2.37,0.0
306512,8d80970192fa496f99d6b45c470a4b60,714,0,0,0,1,None,6.92,0.0
306513,bde275066f3c4fa0bff3093e3b866a2c,714,0,0,0,1,None,12.73,0.0
306514,f1e4fd36e5a0446f83861308bddf6945,714,0,0,0,1,None,8.20,0.0
306515,0b64be3b241c4407a5c9a71781173829,714,0,0,0,1,None,2.60,0.0
306516,86d03d35d7e0434b935e7743e83be3a0,714,0,0,0,1,None,9.20,0.0
306517,3408fd05c781401f8442fb6dbaaea9c7,714,0,0,0,1,None,11.70,0.0
306518,1593d617fac246ef8e50dbb0ffd77f5f,714,0,0,0,1,None,40.67,0.0
306519,f1b31d07b5d84f69a2d5f1d07843989e,714,0,0,0,1,None,31.13,0.0
306520,2ce987015ec0404a97ba333e8e814090,714,0,0,0,1,None,1.64,0.0
306521,2e33545f0a764d27b2ccff95fc8d72c4,714,0,0,0,1,None,17.35,0.0
306522,d1c4500ace2e45e9a45d3cd2fccac8d8,714,0,0,0,1,None,4.42,0.0
306523,b65affd9e07346a1906364a396950e3d,714,0,0,0,1,None,18.35,0.0
306524,d613ca9c59dd42f497bdbf6178da54a7,714,0,0,0,1,None,25.14,0.0
306525,eec70ab28af74a22a4aeb889c0317944,714,0,0,0,1,None,43.58,0.0
306526,24f56b5e1849462093931b164eb803b5,714,0,0,0,1,None,22.64,0.0
306527,24f56b5e1849462093931b164eb803b5,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,2.0
306528,5ca2620962114246ab218fc648eb3934,714,0,0,0,1,None,2.20,0.0
306529,b3a1272bc9904337b331bf348c3e8c17,714,0,0,0,1,None,1.59,0.0
306530,68213b08d99a4ae1b0dcb72aebd9aa35,714,0,0,0,1,None,9.53,0.0
306531,a00058cf10334a308c68e7631c529907,714,0,0,0,1,None,3.61,0.0
306532,76ddbd6576844afe811f1a3c0fbb5bec,714,0,0,0,1,None,3.53,0.0
306533,c02b10e8752c4d8e9b73f918558531f7,714,0,0,0,1,None,4.05,0.0

In [38]:
transcript_on_value['amount'].fillna(0, inplace=True)
transcript_on_value

,person,time,offer completed,offer received,offer viewed,transaction,offer_id,amount,reward
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0
1,a03223e636434f42ac4c3df47e8bac43,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
2,e2127556f4f64592b11af22de27a7932,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0
3,8ec6ce2a7e7949b1bf142def7d0e0586,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,0.0
4,68617ca6246f4fbc85e91a2a49552598,0,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0
5,389bc3fa690240e798340f5a15918d5c,0,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,0.0
6,c4863c7985cf408faee930f111475da3,0,0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.00,0.0
7,2eeac8d8feae4a8cad5a6af0499a211d,0,0,1,0,0,3f207df678b143eea3cee63160fa8bed,0.00,0.0
8,aa4862eba776480b8bb9c68455b8c2e1,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
9,31dda685af34476cad5bc968bdb01c53,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
10,744d603ef08c4f33af5a61c8c7628d1c,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
11,3d02345581554e81b7b289ab5e288078,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
12,4b0da7e80e5945209a1fdddfe813dbe0,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0
13,c27e0d6ab72c455a8bb66d980963de60,0,0,1,0,0,3f207df678b143eea3cee63160fa8bed,0.00,0.0
14,d53717f5400c4e84affdaeda9dd926b3,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
15,f806632c011441378d4646567f357a21,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,0.0
16,d058f73bf8674a26a95227db098147b1,0,0,1,0,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
17,65aba5c617294649aeb624da249e1ee5,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0
18,ebe7ef46ea6f4963a7dd49f501b26779,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0
19,1e9420836d554513ab90eba98552d0a9,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0
20,868317b9be554cb18e50bc68484749a2,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0
21,f082d80f0aac47a99173ba8ef8fc1909,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0
22,102e9454054946fda62242d2e176fdce,0,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0
23,4beeb3ed64dd4898b0edf2f6b67426d3,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0
24,9f30b375d7bd4c62a884ffe7034e09ee,0,0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.00,0.0
25,25c906289d154b66bf579693f89481c9,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0
26,6e014185620b49bd98749f728747572f,0,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,0.0
27,02c083884c7d45b39cc68e1314fec56c,0,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0
28,c0d210398dee4a0895b24444a5fcd1d2,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0
29,8be4463721e14d7fa600686bf8c8b2ed,0,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,0.0
...,...,...,...,...,...,...,...,...,...
306504,8524d450673b4c24869b6c94380006de,714,0,0,0,1,None,4.89,0.0
306505,b895c57e8cd047a8872ce02aa54759d6,714,0,0,0,1,None,4.48,0.0
306506,b895c57e8cd047a8872ce02aa54759d6,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,2.0
306507,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,0,0,1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,0.00,0.0
306508,8431c16f8e1d440880db371a68f82dd0,714,0,0,0,1,None,1.19,0.0
306509,8431c16f8e1d440880db371a68f82dd0,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,2.0
306510,ba620885e51c4b0ea64a4f61daad494f,714,0,0,0,1,None,14.31,0.0
306511,a1a8f40407c444cc848468275308958a,714,0,0,0,1,None,2.37,0.0
306512,8d80970192fa496f99d6b45c470a4b60,714,0,0,0,1,None,6.92,0.0
306513,bde275066f3c4fa0bff3093e3b866a2c,714,0,0,0,1,None,12.73,0.0
306514,f1e4fd36e5a0446f83861308bddf6945,714,0,0,0,1,None,8.20,0.0
306515,0b64be3b241c4407a5c9a71781173829,714,0,0,0,1,None,2.60,0.0
306516,86d03d35d7e0434b935e7743e83be3a0,714,0,0,0,1,None,9.20,0.0
306517,3408fd05c781401f8442fb6dbaaea9c7,714,0,0,0,1,None,11.70,0.0
306518,1593d617fac246ef8e50dbb0ffd77f5f,714,0,0,0,1,None,40.67,0.0
306519,f1b31d07b5d84f69a2d5f1d07843989e,714,0,0,0,1,None,31.13,0.0
306520,2ce987015ec0404a97ba333e8e814090,714,0,0,0,1,None,1.64,0.0
306521,2e33545f0a764d27b2ccff95fc8d72c4,714,0,0,0,1,None,17.35,0.0
306522,d1c4500ace2e45e9a45d3cd2fccac8d8,714,0,0,0,1,None,4.42,0.0
306523,b65affd9e07346a1906364a396950e3d,714,0,0,0,1,None,18.35,0.0
306524,d613ca9c59dd42f497bdbf6178da54a7,714,0,0,0,1,None,25.14,0.0
306525,eec70ab28af74a22a4aeb889c0317944,714,0,0,0,1,None,43.58,0.0
306526,24f56b5e1849462093931b164eb803b5,714,0,0,0,1,None,22.64,0.0
306527,24f56b5e1849462093931b164eb803b5,714,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,2.0
306528,5ca2620962114246ab218fc648eb3934,714,0,0,0,1,None,2.20,0.0
306529,b3a1272bc9904337b331bf348c3e8c17,714,0,0,0,1,None,1.59,0.0
306530,68213b08d99a4ae1b0dcb72aebd9aa35,714,0,0,0,1,None,9.53,0.0
306531,a00058cf10334a308c68e7631c529907,714,0,0,0,1,None,3.61,0.0
306532,76ddbd6576844afe811f1a3c0fbb5bec,714,0,0,0,1,None,3.53,0.0
306533,c02b10e8752c4d8e9b73f918558531f7,714,0,0,0,1,None,4.05,0.0

In [39]:
p_columns = portfolio_channels.columns
p_columns = p_columns.tolist()

In [40]:
for n, i in enumerate(p_columns):
    if i!='offer_id':
        p_columns[n] = 'offer_' + p_columns[n]
p_columns

['offer_difficulty',
 'offer_duration',
 'offer_id',
 'offer_reward',
 'offer_bogo',
 'offer_discount',
 'offer_informational',
 'offer_web',
 'offer_mobile',
 'offer_social']

In [41]:
portfolio_channels.columns = p_columns
portfolio_channels

,offer_difficulty,offer_duration,offer_id,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,10,7,ae264e3637204a6fb9bb56bc8210ddfd,10,1,0,0,0,1,1
1,10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,10,1,0,0,1,1,1
2,0,4,3f207df678b143eea3cee63160fa8bed,0,0,0,1,1,1,0
3,5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,5,1,0,0,1,1,0
4,20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,5,0,1,0,1,0,0
5,7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,3,0,1,0,1,1,1
6,10,10,fafdcd668e3743c1bb461111dcafc2a4,2,0,1,0,1,1,1
7,0,3,5a8bc65990b245e5a138643cd4eb9837,0,0,0,1,0,1,1
8,5,5,f19421c1d4aa40978ebb69ca19b0e20d,5,1,0,0,1,1,1
9,10,7,2906b810c7d4411798c6938adc9daaa5,2,0,1,0,1,1,0

In [42]:
def convert_to_datetime(x):
    value = datetime.strptime(str(x), '%Y%m%d')
    return value

In [43]:
profile_encoded['became_member_on'] = profile_encoded['became_member_on'].apply(lambda x: convert_to_datetime(x))

In [44]:
profile_became_member_on = profile_encoded
profile_became_member_on

,age,became_member_on,id,income,F,M,O
0,55,2017-07-15,0610b486422d4921ae7d2bf64640c50b,112000.0,1,0,0
1,75,2017-05-09,78afa995795e4d85b5d9ceeca43f5fef,100000.0,1,0,0
2,68,2018-04-26,e2127556f4f64592b11af22de27a7932,70000.0,0,1,0
3,65,2018-02-09,389bc3fa690240e798340f5a15918d5c,53000.0,0,1,0
4,58,2017-11-11,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,0,1,0
5,61,2017-09-11,aa4862eba776480b8bb9c68455b8c2e1,57000.0,1,0,0
6,26,2014-02-13,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0,0,1,0
7,62,2016-02-11,31dda685af34476cad5bc968bdb01c53,71000.0,1,0,0
8,49,2014-11-13,62cf5e10845442329191fc246e7bcea3,52000.0,0,1,0
9,57,2017-12-31,6445de3b47274c759400cd68131d91b4,42000.0,0,1,0
10,61,2018-05-01,a448667f336b42c9a66fc5ffd5d73772,40000.0,1,0,0
11,40,2016-05-04,440cf1fd7580490c971d8c651ed962af,71000.0,1,0,0
12,64,2017-09-09,4b0da7e80e5945209a1fdddfe813dbe0,100000.0,0,1,0
13,78,2017-06-16,c27e0d6ab72c455a8bb66d980963de60,71000.0,1,0,0
14,42,2013-08-11,f806632c011441378d4646567f357a21,69000.0,0,1,0
15,56,2018-04-28,d058f73bf8674a26a95227db098147b1,88000.0,1,0,0
16,33,2017-09-26,c6c9884912c645429f3333f912b55f44,52000.0,1,0,0
17,46,2017-09-11,7429a044884842d6862f516c38b1156f,59000.0,1,0,0
18,59,2015-01-21,ebe7ef46ea6f4963a7dd49f501b26779,41000.0,0,1,0
19,67,2014-08-23,5917d13f6fa04286abdf95f4d5cefb1e,96000.0,0,1,0
20,53,2017-09-16,d1ede868e29245ea91818a903fec04c6,52000.0,0,0,1
21,22,2017-09-25,1e9420836d554513ab90eba98552d0a9,70000.0,0,1,0
22,96,2017-11-17,868317b9be554cb18e50bc68484749a2,89000.0,1,0,0
23,40,2016-07-09,f082d80f0aac47a99173ba8ef8fc1909,33000.0,0,1,0
24,69,2016-08-14,102e9454054946fda62242d2e176fdce,57000.0,1,0,0
25,56,2014-05-11,8dabe2142cdf4013a6f4786edf8ab00f,68000.0,0,1,0
26,26,2017-08-12,9f30b375d7bd4c62a884ffe7034e09ee,63000.0,1,0,0
27,75,2015-11-12,6e014185620b49bd98749f728747572f,40000.0,0,1,0
28,20,2016-07-11,02c083884c7d45b39cc68e1314fec56c,30000.0,1,0,0
29,45,2018-07-07,c0d210398dee4a0895b24444a5fcd1d2,33000.0,0,1,0
...,...,...,...,...,...,...,...
14795,62,2017-01-12,8c3fbf6b89b248bb99b7a6ca628f401c,80000.0,1,0,0
14796,52,2018-04-08,68213b08d99a4ae1b0dcb72aebd9aa35,62000.0,0,1,0
14797,52,2018-04-09,e340cbf00a914f0c958577c0af36ed8a,34000.0,0,1,0
14798,54,2015-01-26,10316535e185400fb093c371d62254e3,51000.0,0,1,0
14799,54,2015-06-26,cec1cdc6b77e41abbdce8903c5522e7e,53000.0,0,1,0
14800,74,2017-07-25,2c6f50c1c07a444896e2a4e31d724f92,87000.0,0,1,0
14801,67,2015-11-07,a2e6029e17b6466187a40b66e333a73e,94000.0,0,1,0
14802,52,2018-05-22,6e71b66784844d1ab8376ac8ab096d4b,75000.0,1,0,0
14803,44,2017-01-19,e2fd53ed790240c586b3188f23542cca,51000.0,1,0,0
14804,30,2015-10-12,08eb126ad33f447ca3ad076482445c05,57000.0,0,1,0
14805,59,2016-01-13,f88e91a11d8f405b9a47ad3741415b83,71000.0,1,0,0
14806,61,2017-12-31,1b4df4b48bf64727a4c445909aea1251,81000.0,1,0,0
14807,39,2016-09-21,122c0c2a3c2540848f8c3fdc37e97639,54000.0,1,0,0
14808,29,2017-02-20,54bead4179c44b71acc4e8398181d183,58000.0,1,0,0
14809,63,2013-09-22,a00058cf10334a308c68e7631c529907,52000.0,1,0,0
14810,84,2016-06-29,1966fa40d2f84620b2b1b9b64f8e0209,93000.0,0,1,0
14811,72,2015-04-04,ff737c250d2343729ade04c4f6eb1001,65000.0,1,0,0
14812,75,2016-07-16,392d23b2c958493197f647bedfe4f418,78000.0,1,0,0
14813,26,2018-06-19,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,0,1,0
14814,59,2017-07-31,bf3069b178fe40d789dd027901bc406b,63000.0,1,0,0
14815,57,2016-07-09,76ddbd6576844afe811f1a3c0fbb5bec,40000.0,0,1,0
14816,64,2018-01-04,f653cf2d8bba42d0a53c2937ee2e5893,51000.0,0,1,0
14817,70,2016-03-10,79edb810789c447e8d212a324b44cc16,39000.0,1,0,0
14818,21,2017-09-17,400d0536e8794cbb855b0d882d67cbda,72000.0,1,0,0
14819,60,2018-05-05,cb23b66c56f64b109d673d5e56574529,113000.0,0,1,0
14820,45,2018-06-04,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,1,0,0
14821,61,2018-07-13,2cb4f97358b841b9a9773a7aa05a9d77,72000.0,0,1,0
14822,49,2017-01-26,01d26f638c274aa0b965d24cefe3183f,73000.0,0,1,0
14823,83,2016-03-07,9dc1421481194dcd9400aec7c9ae6366,50000.0,1,0,0
14824,62,2017-07-22,e4052622e5ba45a8b96b59aba68cf068,82000.0,1,0,0

In [45]:
profile_became_member_on['became_member_on_year'] = profile_became_member_on['became_member_on'].apply(lambda x: x.year)
profile_became_member_on

,age,became_member_on,id,income,F,M,O,became_member_on_year
0,55,2017-07-15,0610b486422d4921ae7d2bf64640c50b,112000.0,1,0,0,2017
1,75,2017-05-09,78afa995795e4d85b5d9ceeca43f5fef,100000.0,1,0,0,2017
2,68,2018-04-26,e2127556f4f64592b11af22de27a7932,70000.0,0,1,0,2018
3,65,2018-02-09,389bc3fa690240e798340f5a15918d5c,53000.0,0,1,0,2018
4,58,2017-11-11,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,0,1,0,2017
5,61,2017-09-11,aa4862eba776480b8bb9c68455b8c2e1,57000.0,1,0,0,2017
6,26,2014-02-13,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0,0,1,0,2014
7,62,2016-02-11,31dda685af34476cad5bc968bdb01c53,71000.0,1,0,0,2016
8,49,2014-11-13,62cf5e10845442329191fc246e7bcea3,52000.0,0,1,0,2014
9,57,2017-12-31,6445de3b47274c759400cd68131d91b4,42000.0,0,1,0,2017
10,61,2018-05-01,a448667f336b42c9a66fc5ffd5d73772,40000.0,1,0,0,2018
11,40,2016-05-04,440cf1fd7580490c971d8c651ed962af,71000.0,1,0,0,2016
12,64,2017-09-09,4b0da7e80e5945209a1fdddfe813dbe0,100000.0,0,1,0,2017
13,78,2017-06-16,c27e0d6ab72c455a8bb66d980963de60,71000.0,1,0,0,2017
14,42,2013-08-11,f806632c011441378d4646567f357a21,69000.0,0,1,0,2013
15,56,2018-04-28,d058f73bf8674a26a95227db098147b1,88000.0,1,0,0,2018
16,33,2017-09-26,c6c9884912c645429f3333f912b55f44,52000.0,1,0,0,2017
17,46,2017-09-11,7429a044884842d6862f516c38b1156f,59000.0,1,0,0,2017
18,59,2015-01-21,ebe7ef46ea6f4963a7dd49f501b26779,41000.0,0,1,0,2015
19,67,2014-08-23,5917d13f6fa04286abdf95f4d5cefb1e,96000.0,0,1,0,2014
20,53,2017-09-16,d1ede868e29245ea91818a903fec04c6,52000.0,0,0,1,2017
21,22,2017-09-25,1e9420836d554513ab90eba98552d0a9,70000.0,0,1,0,2017
22,96,2017-11-17,868317b9be554cb18e50bc68484749a2,89000.0,1,0,0,2017
23,40,2016-07-09,f082d80f0aac47a99173ba8ef8fc1909,33000.0,0,1,0,2016
24,69,2016-08-14,102e9454054946fda62242d2e176fdce,57000.0,1,0,0,2016
25,56,2014-05-11,8dabe2142cdf4013a6f4786edf8ab00f,68000.0,0,1,0,2014
26,26,2017-08-12,9f30b375d7bd4c62a884ffe7034e09ee,63000.0,1,0,0,2017
27,75,2015-11-12,6e014185620b49bd98749f728747572f,40000.0,0,1,0,2015
28,20,2016-07-11,02c083884c7d45b39cc68e1314fec56c,30000.0,1,0,0,2016
29,45,2018-07-07,c0d210398dee4a0895b24444a5fcd1d2,33000.0,0,1,0,2018
...,...,...,...,...,...,...,...,...
14795,62,2017-01-12,8c3fbf6b89b248bb99b7a6ca628f401c,80000.0,1,0,0,2017
14796,52,2018-04-08,68213b08d99a4ae1b0dcb72aebd9aa35,62000.0,0,1,0,2018
14797,52,2018-04-09,e340cbf00a914f0c958577c0af36ed8a,34000.0,0,1,0,2018
14798,54,2015-01-26,10316535e185400fb093c371d62254e3,51000.0,0,1,0,2015
14799,54,2015-06-26,cec1cdc6b77e41abbdce8903c5522e7e,53000.0,0,1,0,2015
14800,74,2017-07-25,2c6f50c1c07a444896e2a4e31d724f92,87000.0,0,1,0,2017
14801,67,2015-11-07,a2e6029e17b6466187a40b66e333a73e,94000.0,0,1,0,2015
14802,52,2018-05-22,6e71b66784844d1ab8376ac8ab096d4b,75000.0,1,0,0,2018
14803,44,2017-01-19,e2fd53ed790240c586b3188f23542cca,51000.0,1,0,0,2017
14804,30,2015-10-12,08eb126ad33f447ca3ad076482445c05,57000.0,0,1,0,2015
14805,59,2016-01-13,f88e91a11d8f405b9a47ad3741415b83,71000.0,1,0,0,2016
14806,61,2017-12-31,1b4df4b48bf64727a4c445909aea1251,81000.0,1,0,0,2017
14807,39,2016-09-21,122c0c2a3c2540848f8c3fdc37e97639,54000.0,1,0,0,2016
14808,29,2017-02-20,54bead4179c44b71acc4e8398181d183,58000.0,1,0,0,2017
14809,63,2013-09-22,a00058cf10334a308c68e7631c529907,52000.0,1,0,0,2013
14810,84,2016-06-29,1966fa40d2f84620b2b1b9b64f8e0209,93000.0,0,1,0,2016
14811,72,2015-04-04,ff737c250d2343729ade04c4f6eb1001,65000.0,1,0,0,2015
14812,75,2016-07-16,392d23b2c958493197f647bedfe4f418,78000.0,1,0,0,2016
14813,26,2018-06-19,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,0,1,0,2018
14814,59,2017-07-31,bf3069b178fe40d789dd027901bc406b,63000.0,1,0,0,2017
14815,57,2016-07-09,76ddbd6576844afe811f1a3c0fbb5bec,40000.0,0,1,0,2016
14816,64,2018-01-04,f653cf2d8bba42d0a53c2937ee2e5893,51000.0,0,1,0,2018
14817,70,2016-03-10,79edb810789c447e8d212a324b44cc16,39000.0,1,0,0,2016
14818,21,2017-09-17,400d0536e8794cbb855b0d882d67cbda,72000.0,1,0,0,2017
14819,60,2018-05-05,cb23b66c56f64b109d673d5e56574529,113000.0,0,1,0,2018
14820,45,2018-06-04,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,1,0,0,2018
14821,61,2018-07-13,2cb4f97358b841b9a9773a7aa05a9d77,72000.0,0,1,0,2018
14822,49,2017-01-26,01d26f638c274aa0b965d24cefe3183f,73000.0,0,1,0,2017
14823,83,2016-03-07,9dc1421481194dcd9400aec7c9ae6366,50000.0,1,0,0,2016
14824,62,2017-07-22,e4052622e5ba45a8b96b59aba68cf068,82000.0,1,0,0,2017

In [46]:
profile_became_member_on['became_member_on_month'] = profile_became_member_on['became_member_on'].apply(lambda x: x.month)
profile_became_member_on

,age,became_member_on,id,income,F,M,O,became_member_on_year,became_member_on_month
0,55,2017-07-15,0610b486422d4921ae7d2bf64640c50b,112000.0,1,0,0,2017,7
1,75,2017-05-09,78afa995795e4d85b5d9ceeca43f5fef,100000.0,1,0,0,2017,5
2,68,2018-04-26,e2127556f4f64592b11af22de27a7932,70000.0,0,1,0,2018,4
3,65,2018-02-09,389bc3fa690240e798340f5a15918d5c,53000.0,0,1,0,2018,2
4,58,2017-11-11,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,0,1,0,2017,11
5,61,2017-09-11,aa4862eba776480b8bb9c68455b8c2e1,57000.0,1,0,0,2017,9
6,26,2014-02-13,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0,0,1,0,2014,2
7,62,2016-02-11,31dda685af34476cad5bc968bdb01c53,71000.0,1,0,0,2016,2
8,49,2014-11-13,62cf5e10845442329191fc246e7bcea3,52000.0,0,1,0,2014,11
9,57,2017-12-31,6445de3b47274c759400cd68131d91b4,42000.0,0,1,0,2017,12
10,61,2018-05-01,a448667f336b42c9a66fc5ffd5d73772,40000.0,1,0,0,2018,5
11,40,2016-05-04,440cf1fd7580490c971d8c651ed962af,71000.0,1,0,0,2016,5
12,64,2017-09-09,4b0da7e80e5945209a1fdddfe813dbe0,100000.0,0,1,0,2017,9
13,78,2017-06-16,c27e0d6ab72c455a8bb66d980963de60,71000.0,1,0,0,2017,6
14,42,2013-08-11,f806632c011441378d4646567f357a21,69000.0,0,1,0,2013,8
15,56,2018-04-28,d058f73bf8674a26a95227db098147b1,88000.0,1,0,0,2018,4
16,33,2017-09-26,c6c9884912c645429f3333f912b55f44,52000.0,1,0,0,2017,9
17,46,2017-09-11,7429a044884842d6862f516c38b1156f,59000.0,1,0,0,2017,9
18,59,2015-01-21,ebe7ef46ea6f4963a7dd49f501b26779,41000.0,0,1,0,2015,1
19,67,2014-08-23,5917d13f6fa04286abdf95f4d5cefb1e,96000.0,0,1,0,2014,8
20,53,2017-09-16,d1ede868e29245ea91818a903fec04c6,52000.0,0,0,1,2017,9
21,22,2017-09-25,1e9420836d554513ab90eba98552d0a9,70000.0,0,1,0,2017,9
22,96,2017-11-17,868317b9be554cb18e50bc68484749a2,89000.0,1,0,0,2017,11
23,40,2016-07-09,f082d80f0aac47a99173ba8ef8fc1909,33000.0,0,1,0,2016,7
24,69,2016-08-14,102e9454054946fda62242d2e176fdce,57000.0,1,0,0,2016,8
25,56,2014-05-11,8dabe2142cdf4013a6f4786edf8ab00f,68000.0,0,1,0,2014,5
26,26,2017-08-12,9f30b375d7bd4c62a884ffe7034e09ee,63000.0,1,0,0,2017,8
27,75,2015-11-12,6e014185620b49bd98749f728747572f,40000.0,0,1,0,2015,11
28,20,2016-07-11,02c083884c7d45b39cc68e1314fec56c,30000.0,1,0,0,2016,7
29,45,2018-07-07,c0d210398dee4a0895b24444a5fcd1d2,33000.0,0,1,0,2018,7
...,...,...,...,...,...,...,...,...,...
14795,62,2017-01-12,8c3fbf6b89b248bb99b7a6ca628f401c,80000.0,1,0,0,2017,1
14796,52,2018-04-08,68213b08d99a4ae1b0dcb72aebd9aa35,62000.0,0,1,0,2018,4
14797,52,2018-04-09,e340cbf00a914f0c958577c0af36ed8a,34000.0,0,1,0,2018,4
14798,54,2015-01-26,10316535e185400fb093c371d62254e3,51000.0,0,1,0,2015,1
14799,54,2015-06-26,cec1cdc6b77e41abbdce8903c5522e7e,53000.0,0,1,0,2015,6
14800,74,2017-07-25,2c6f50c1c07a444896e2a4e31d724f92,87000.0,0,1,0,2017,7
14801,67,2015-11-07,a2e6029e17b6466187a40b66e333a73e,94000.0,0,1,0,2015,11
14802,52,2018-05-22,6e71b66784844d1ab8376ac8ab096d4b,75000.0,1,0,0,2018,5
14803,44,2017-01-19,e2fd53ed790240c586b3188f23542cca,51000.0,1,0,0,2017,1
14804,30,2015-10-12,08eb126ad33f447ca3ad076482445c05,57000.0,0,1,0,2015,10
14805,59,2016-01-13,f88e91a11d8f405b9a47ad3741415b83,71000.0,1,0,0,2016,1
14806,61,2017-12-31,1b4df4b48bf64727a4c445909aea1251,81000.0,1,0,0,2017,12
14807,39,2016-09-21,122c0c2a3c2540848f8c3fdc37e97639,54000.0,1,0,0,2016,9
14808,29,2017-02-20,54bead4179c44b71acc4e8398181d183,58000.0,1,0,0,2017,2
14809,63,2013-09-22,a00058cf10334a308c68e7631c529907,52000.0,1,0,0,2013,9
14810,84,2016-06-29,1966fa40d2f84620b2b1b9b64f8e0209,93000.0,0,1,0,2016,6
14811,72,2015-04-04,ff737c250d2343729ade04c4f6eb1001,65000.0,1,0,0,2015,4
14812,75,2016-07-16,392d23b2c958493197f647bedfe4f418,78000.0,1,0,0,2016,7
14813,26,2018-06-19,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,0,1,0,2018,6
14814,59,2017-07-31,bf3069b178fe40d789dd027901bc406b,63000.0,1,0,0,2017,7
14815,57,2016-07-09,76ddbd6576844afe811f1a3c0fbb5bec,40000.0,0,1,0,2016,7
14816,64,2018-01-04,f653cf2d8bba42d0a53c2937ee2e5893,51000.0,0,1,0,2018,1
14817,70,2016-03-10,79edb810789c447e8d212a324b44cc16,39000.0,1,0,0,2016,3
14818,21,2017-09-17,400d0536e8794cbb855b0d882d67cbda,72000.0,1,0,0,2017,9
14819,60,2018-05-05,cb23b66c56f64b109d673d5e56574529,113000.0,0,1,0,2018,5
14820,45,2018-06-04,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,1,0,0,2018,6
14821,61,2018-07-13,2cb4f97358b841b9a9773a7aa05a9d77,72000.0,0,1,0,2018,7
14822,49,2017-01-26,01d26f638c274aa0b965d24cefe3183f,73000.0,0,1,0,2017,1
14823,83,2016-03-07,9dc1421481194dcd9400aec7c9ae6366,50000.0,1,0,0,2016,3
14824,62,2017-07-22,e4052622e5ba45a8b96b59aba68cf068,82000.0,1,0,0,2017,7

In [47]:
profile_became_member_on = profile_became_member_on.drop('became_member_on', axis = 1)
profile_became_member_on

,age,id,income,F,M,O,became_member_on_year,became_member_on_month
0,55,0610b486422d4921ae7d2bf64640c50b,112000.0,1,0,0,2017,7
1,75,78afa995795e4d85b5d9ceeca43f5fef,100000.0,1,0,0,2017,5
2,68,e2127556f4f64592b11af22de27a7932,70000.0,0,1,0,2018,4
3,65,389bc3fa690240e798340f5a15918d5c,53000.0,0,1,0,2018,2
4,58,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,0,1,0,2017,11
5,61,aa4862eba776480b8bb9c68455b8c2e1,57000.0,1,0,0,2017,9
6,26,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0,0,1,0,2014,2
7,62,31dda685af34476cad5bc968bdb01c53,71000.0,1,0,0,2016,2
8,49,62cf5e10845442329191fc246e7bcea3,52000.0,0,1,0,2014,11
9,57,6445de3b47274c759400cd68131d91b4,42000.0,0,1,0,2017,12
10,61,a448667f336b42c9a66fc5ffd5d73772,40000.0,1,0,0,2018,5
11,40,440cf1fd7580490c971d8c651ed962af,71000.0,1,0,0,2016,5
12,64,4b0da7e80e5945209a1fdddfe813dbe0,100000.0,0,1,0,2017,9
13,78,c27e0d6ab72c455a8bb66d980963de60,71000.0,1,0,0,2017,6
14,42,f806632c011441378d4646567f357a21,69000.0,0,1,0,2013,8
15,56,d058f73bf8674a26a95227db098147b1,88000.0,1,0,0,2018,4
16,33,c6c9884912c645429f3333f912b55f44,52000.0,1,0,0,2017,9
17,46,7429a044884842d6862f516c38b1156f,59000.0,1,0,0,2017,9
18,59,ebe7ef46ea6f4963a7dd49f501b26779,41000.0,0,1,0,2015,1
19,67,5917d13f6fa04286abdf95f4d5cefb1e,96000.0,0,1,0,2014,8
20,53,d1ede868e29245ea91818a903fec04c6,52000.0,0,0,1,2017,9
21,22,1e9420836d554513ab90eba98552d0a9,70000.0,0,1,0,2017,9
22,96,868317b9be554cb18e50bc68484749a2,89000.0,1,0,0,2017,11
23,40,f082d80f0aac47a99173ba8ef8fc1909,33000.0,0,1,0,2016,7
24,69,102e9454054946fda62242d2e176fdce,57000.0,1,0,0,2016,8
25,56,8dabe2142cdf4013a6f4786edf8ab00f,68000.0,0,1,0,2014,5
26,26,9f30b375d7bd4c62a884ffe7034e09ee,63000.0,1,0,0,2017,8
27,75,6e014185620b49bd98749f728747572f,40000.0,0,1,0,2015,11
28,20,02c083884c7d45b39cc68e1314fec56c,30000.0,1,0,0,2016,7
29,45,c0d210398dee4a0895b24444a5fcd1d2,33000.0,0,1,0,2018,7
...,...,...,...,...,...,...,...,...
14795,62,8c3fbf6b89b248bb99b7a6ca628f401c,80000.0,1,0,0,2017,1
14796,52,68213b08d99a4ae1b0dcb72aebd9aa35,62000.0,0,1,0,2018,4
14797,52,e340cbf00a914f0c958577c0af36ed8a,34000.0,0,1,0,2018,4
14798,54,10316535e185400fb093c371d62254e3,51000.0,0,1,0,2015,1
14799,54,cec1cdc6b77e41abbdce8903c5522e7e,53000.0,0,1,0,2015,6
14800,74,2c6f50c1c07a444896e2a4e31d724f92,87000.0,0,1,0,2017,7
14801,67,a2e6029e17b6466187a40b66e333a73e,94000.0,0,1,0,2015,11
14802,52,6e71b66784844d1ab8376ac8ab096d4b,75000.0,1,0,0,2018,5
14803,44,e2fd53ed790240c586b3188f23542cca,51000.0,1,0,0,2017,1
14804,30,08eb126ad33f447ca3ad076482445c05,57000.0,0,1,0,2015,10
14805,59,f88e91a11d8f405b9a47ad3741415b83,71000.0,1,0,0,2016,1
14806,61,1b4df4b48bf64727a4c445909aea1251,81000.0,1,0,0,2017,12
14807,39,122c0c2a3c2540848f8c3fdc37e97639,54000.0,1,0,0,2016,9
14808,29,54bead4179c44b71acc4e8398181d183,58000.0,1,0,0,2017,2
14809,63,a00058cf10334a308c68e7631c529907,52000.0,1,0,0,2013,9
14810,84,1966fa40d2f84620b2b1b9b64f8e0209,93000.0,0,1,0,2016,6
14811,72,ff737c250d2343729ade04c4f6eb1001,65000.0,1,0,0,2015,4
14812,75,392d23b2c958493197f647bedfe4f418,78000.0,1,0,0,2016,7
14813,26,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,0,1,0,2018,6
14814,59,bf3069b178fe40d789dd027901bc406b,63000.0,1,0,0,2017,7
14815,57,76ddbd6576844afe811f1a3c0fbb5bec,40000.0,0,1,0,2016,7
14816,64,f653cf2d8bba42d0a53c2937ee2e5893,51000.0,0,1,0,2018,1
14817,70,79edb810789c447e8d212a324b44cc16,39000.0,1,0,0,2016,3
14818,21,400d0536e8794cbb855b0d882d67cbda,72000.0,1,0,0,2017,9
14819,60,cb23b66c56f64b109d673d5e56574529,113000.0,0,1,0,2018,5
14820,45,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,1,0,0,2018,6
14821,61,2cb4f97358b841b9a9773a7aa05a9d77,72000.0,0,1,0,2018,7
14822,49,01d26f638c274aa0b965d24cefe3183f,73000.0,0,1,0,2017,1
14823,83,9dc1421481194dcd9400aec7c9ae6366,50000.0,1,0,0,2016,3
14824,62,e4052622e5ba45a8b96b59aba68cf068,82000.0,1,0,0,2017,7

In [48]:
column = 'became_member_on_year'
column_dummies = pd.get_dummies(profile_became_member_on[column])
profile_became_member_on = profile_became_member_on.drop(column, axis = 1)
profile_became_member_on = profile_became_member_on.join(column_dummies)
profile_became_member_on

,age,id,income,F,M,O,became_member_on_month,2013,2014,2015,2016,2017,2018
0,55,0610b486422d4921ae7d2bf64640c50b,112000.0,1,0,0,7,0,0,0,0,1,0
1,75,78afa995795e4d85b5d9ceeca43f5fef,100000.0,1,0,0,5,0,0,0,0,1,0
2,68,e2127556f4f64592b11af22de27a7932,70000.0,0,1,0,4,0,0,0,0,0,1
3,65,389bc3fa690240e798340f5a15918d5c,53000.0,0,1,0,2,0,0,0,0,0,1
4,58,2eeac8d8feae4a8cad5a6af0499a211d,51000.0,0,1,0,11,0,0,0,0,1,0
5,61,aa4862eba776480b8bb9c68455b8c2e1,57000.0,1,0,0,9,0,0,0,0,1,0
6,26,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0,0,1,0,2,0,1,0,0,0,0
7,62,31dda685af34476cad5bc968bdb01c53,71000.0,1,0,0,2,0,0,0,1,0,0
8,49,62cf5e10845442329191fc246e7bcea3,52000.0,0,1,0,11,0,1,0,0,0,0
9,57,6445de3b47274c759400cd68131d91b4,42000.0,0,1,0,12,0,0,0,0,1,0
10,61,a448667f336b42c9a66fc5ffd5d73772,40000.0,1,0,0,5,0,0,0,0,0,1
11,40,440cf1fd7580490c971d8c651ed962af,71000.0,1,0,0,5,0,0,0,1,0,0
12,64,4b0da7e80e5945209a1fdddfe813dbe0,100000.0,0,1,0,9,0,0,0,0,1,0
13,78,c27e0d6ab72c455a8bb66d980963de60,71000.0,1,0,0,6,0,0,0,0,1,0
14,42,f806632c011441378d4646567f357a21,69000.0,0,1,0,8,1,0,0,0,0,0
15,56,d058f73bf8674a26a95227db098147b1,88000.0,1,0,0,4,0,0,0,0,0,1
16,33,c6c9884912c645429f3333f912b55f44,52000.0,1,0,0,9,0,0,0,0,1,0
17,46,7429a044884842d6862f516c38b1156f,59000.0,1,0,0,9,0,0,0,0,1,0
18,59,ebe7ef46ea6f4963a7dd49f501b26779,41000.0,0,1,0,1,0,0,1,0,0,0
19,67,5917d13f6fa04286abdf95f4d5cefb1e,96000.0,0,1,0,8,0,1,0,0,0,0
20,53,d1ede868e29245ea91818a903fec04c6,52000.0,0,0,1,9,0,0,0,0,1,0
21,22,1e9420836d554513ab90eba98552d0a9,70000.0,0,1,0,9,0,0,0,0,1,0
22,96,868317b9be554cb18e50bc68484749a2,89000.0,1,0,0,11,0,0,0,0,1,0
23,40,f082d80f0aac47a99173ba8ef8fc1909,33000.0,0,1,0,7,0,0,0,1,0,0
24,69,102e9454054946fda62242d2e176fdce,57000.0,1,0,0,8,0,0,0,1,0,0
25,56,8dabe2142cdf4013a6f4786edf8ab00f,68000.0,0,1,0,5,0,1,0,0,0,0
26,26,9f30b375d7bd4c62a884ffe7034e09ee,63000.0,1,0,0,8,0,0,0,0,1,0
27,75,6e014185620b49bd98749f728747572f,40000.0,0,1,0,11,0,0,1,0,0,0
28,20,02c083884c7d45b39cc68e1314fec56c,30000.0,1,0,0,7,0,0,0,1,0,0
29,45,c0d210398dee4a0895b24444a5fcd1d2,33000.0,0,1,0,7,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,62,8c3fbf6b89b248bb99b7a6ca628f401c,80000.0,1,0,0,1,0,0,0,0,1,0
14796,52,68213b08d99a4ae1b0dcb72aebd9aa35,62000.0,0,1,0,4,0,0,0,0,0,1
14797,52,e340cbf00a914f0c958577c0af36ed8a,34000.0,0,1,0,4,0,0,0,0,0,1
14798,54,10316535e185400fb093c371d62254e3,51000.0,0,1,0,1,0,0,1,0,0,0
14799,54,cec1cdc6b77e41abbdce8903c5522e7e,53000.0,0,1,0,6,0,0,1,0,0,0
14800,74,2c6f50c1c07a444896e2a4e31d724f92,87000.0,0,1,0,7,0,0,0,0,1,0
14801,67,a2e6029e17b6466187a40b66e333a73e,94000.0,0,1,0,11,0,0,1,0,0,0
14802,52,6e71b66784844d1ab8376ac8ab096d4b,75000.0,1,0,0,5,0,0,0,0,0,1
14803,44,e2fd53ed790240c586b3188f23542cca,51000.0,1,0,0,1,0,0,0,0,1,0
14804,30,08eb126ad33f447ca3ad076482445c05,57000.0,0,1,0,10,0,0,1,0,0,0
14805,59,f88e91a11d8f405b9a47ad3741415b83,71000.0,1,0,0,1,0,0,0,1,0,0
14806,61,1b4df4b48bf64727a4c445909aea1251,81000.0,1,0,0,12,0,0,0,0,1,0
14807,39,122c0c2a3c2540848f8c3fdc37e97639,54000.0,1,0,0,9,0,0,0,1,0,0
14808,29,54bead4179c44b71acc4e8398181d183,58000.0,1,0,0,2,0,0,0,0,1,0
14809,63,a00058cf10334a308c68e7631c529907,52000.0,1,0,0,9,1,0,0,0,0,0
14810,84,1966fa40d2f84620b2b1b9b64f8e0209,93000.0,0,1,0,6,0,0,0,1,0,0
14811,72,ff737c250d2343729ade04c4f6eb1001,65000.0,1,0,0,4,0,0,1,0,0,0
14812,75,392d23b2c958493197f647bedfe4f418,78000.0,1,0,0,7,0,0,0,1,0,0
14813,26,97ee6e7a12fe4064b260fa48bdd0330f,55000.0,0,1,0,6,0,0,0,0,0,1
14814,59,bf3069b178fe40d789dd027901bc406b,63000.0,1,0,0,7,0,0,0,0,1,0
14815,57,76ddbd6576844afe811f1a3c0fbb5bec,40000.0,0,1,0,7,0,0,0,1,0,0
14816,64,f653cf2d8bba42d0a53c2937ee2e5893,51000.0,0,1,0,1,0,0,0,0,0,1
14817,70,79edb810789c447e8d212a324b44cc16,39000.0,1,0,0,3,0,0,0,1,0,0
14818,21,400d0536e8794cbb855b0d882d67cbda,72000.0,1,0,0,9,0,0,0,0,1,0
14819,60,cb23b66c56f64b109d673d5e56574529,113000.0,0,1,0,5,0,0,0,0,0,1
14820,45,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0,1,0,0,6,0,0,0,0,0,1
14821,61,2cb4f97358b841b9a9773a7aa05a9d77,72000.0,0,1,0,7,0,0,0,0,0,1
14822,49,01d26f638c274aa0b965d24cefe3183f,73000.0,0,1,0,1,0,0,0,0,1,0
14823,83,9dc1421481194dcd9400aec7c9ae6366,50000.0,1,0,0,3,0,0,0,1,0,0
14824,62,e4052622e5ba45a8b96b59aba68cf068,82000.0,1,0,0,7,0,0,0,0,1,0

In [49]:
profile_became_member_on['income'].describe()

count     14825.000000
mean      65404.991568
std       21598.299410
min       30000.000000
25%       49000.000000
50%       64000.000000
75%       80000.000000
max      120000.000000
Name: income, dtype: float64

In [50]:
profile_became_member_on['income'] = profile_became_member_on['income'] / 120000.000000
profile_became_member_on

,age,id,income,F,M,O,became_member_on_month,2013,2014,2015,2016,2017,2018
0,55,0610b486422d4921ae7d2bf64640c50b,0.933333,1,0,0,7,0,0,0,0,1,0
1,75,78afa995795e4d85b5d9ceeca43f5fef,0.833333,1,0,0,5,0,0,0,0,1,0
2,68,e2127556f4f64592b11af22de27a7932,0.583333,0,1,0,4,0,0,0,0,0,1
3,65,389bc3fa690240e798340f5a15918d5c,0.441667,0,1,0,2,0,0,0,0,0,1
4,58,2eeac8d8feae4a8cad5a6af0499a211d,0.425000,0,1,0,11,0,0,0,0,1,0
5,61,aa4862eba776480b8bb9c68455b8c2e1,0.475000,1,0,0,9,0,0,0,0,1,0
6,26,e12aeaf2d47d42479ea1c4ac3d8286c6,0.383333,0,1,0,2,0,1,0,0,0,0
7,62,31dda685af34476cad5bc968bdb01c53,0.591667,1,0,0,2,0,0,0,1,0,0
8,49,62cf5e10845442329191fc246e7bcea3,0.433333,0,1,0,11,0,1,0,0,0,0
9,57,6445de3b47274c759400cd68131d91b4,0.350000,0,1,0,12,0,0,0,0,1,0
10,61,a448667f336b42c9a66fc5ffd5d73772,0.333333,1,0,0,5,0,0,0,0,0,1
11,40,440cf1fd7580490c971d8c651ed962af,0.591667,1,0,0,5,0,0,0,1,0,0
12,64,4b0da7e80e5945209a1fdddfe813dbe0,0.833333,0,1,0,9,0,0,0,0,1,0
13,78,c27e0d6ab72c455a8bb66d980963de60,0.591667,1,0,0,6,0,0,0,0,1,0
14,42,f806632c011441378d4646567f357a21,0.575000,0,1,0,8,1,0,0,0,0,0
15,56,d058f73bf8674a26a95227db098147b1,0.733333,1,0,0,4,0,0,0,0,0,1
16,33,c6c9884912c645429f3333f912b55f44,0.433333,1,0,0,9,0,0,0,0,1,0
17,46,7429a044884842d6862f516c38b1156f,0.491667,1,0,0,9,0,0,0,0,1,0
18,59,ebe7ef46ea6f4963a7dd49f501b26779,0.341667,0,1,0,1,0,0,1,0,0,0
19,67,5917d13f6fa04286abdf95f4d5cefb1e,0.800000,0,1,0,8,0,1,0,0,0,0
20,53,d1ede868e29245ea91818a903fec04c6,0.433333,0,0,1,9,0,0,0,0,1,0
21,22,1e9420836d554513ab90eba98552d0a9,0.583333,0,1,0,9,0,0,0,0,1,0
22,96,868317b9be554cb18e50bc68484749a2,0.741667,1,0,0,11,0,0,0,0,1,0
23,40,f082d80f0aac47a99173ba8ef8fc1909,0.275000,0,1,0,7,0,0,0,1,0,0
24,69,102e9454054946fda62242d2e176fdce,0.475000,1,0,0,8,0,0,0,1,0,0
25,56,8dabe2142cdf4013a6f4786edf8ab00f,0.566667,0,1,0,5,0,1,0,0,0,0
26,26,9f30b375d7bd4c62a884ffe7034e09ee,0.525000,1,0,0,8,0,0,0,0,1,0
27,75,6e014185620b49bd98749f728747572f,0.333333,0,1,0,11,0,0,1,0,0,0
28,20,02c083884c7d45b39cc68e1314fec56c,0.250000,1,0,0,7,0,0,0,1,0,0
29,45,c0d210398dee4a0895b24444a5fcd1d2,0.275000,0,1,0,7,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,62,8c3fbf6b89b248bb99b7a6ca628f401c,0.666667,1,0,0,1,0,0,0,0,1,0
14796,52,68213b08d99a4ae1b0dcb72aebd9aa35,0.516667,0,1,0,4,0,0,0,0,0,1
14797,52,e340cbf00a914f0c958577c0af36ed8a,0.283333,0,1,0,4,0,0,0,0,0,1
14798,54,10316535e185400fb093c371d62254e3,0.425000,0,1,0,1,0,0,1,0,0,0
14799,54,cec1cdc6b77e41abbdce8903c5522e7e,0.441667,0,1,0,6,0,0,1,0,0,0
14800,74,2c6f50c1c07a444896e2a4e31d724f92,0.725000,0,1,0,7,0,0,0,0,1,0
14801,67,a2e6029e17b6466187a40b66e333a73e,0.783333,0,1,0,11,0,0,1,0,0,0
14802,52,6e71b66784844d1ab8376ac8ab096d4b,0.625000,1,0,0,5,0,0,0,0,0,1
14803,44,e2fd53ed790240c586b3188f23542cca,0.425000,1,0,0,1,0,0,0,0,1,0
14804,30,08eb126ad33f447ca3ad076482445c05,0.475000,0,1,0,10,0,0,1,0,0,0
14805,59,f88e91a11d8f405b9a47ad3741415b83,0.591667,1,0,0,1,0,0,0,1,0,0
14806,61,1b4df4b48bf64727a4c445909aea1251,0.675000,1,0,0,12,0,0,0,0,1,0
14807,39,122c0c2a3c2540848f8c3fdc37e97639,0.450000,1,0,0,9,0,0,0,1,0,0
14808,29,54bead4179c44b71acc4e8398181d183,0.483333,1,0,0,2,0,0,0,0,1,0
14809,63,a00058cf10334a308c68e7631c529907,0.433333,1,0,0,9,1,0,0,0,0,0
14810,84,1966fa40d2f84620b2b1b9b64f8e0209,0.775000,0,1,0,6,0,0,0,1,0,0
14811,72,ff737c250d2343729ade04c4f6eb1001,0.541667,1,0,0,4,0,0,1,0,0,0
14812,75,392d23b2c958493197f647bedfe4f418,0.650000,1,0,0,7,0,0,0,1,0,0
14813,26,97ee6e7a12fe4064b260fa48bdd0330f,0.458333,0,1,0,6,0,0,0,0,0,1
14814,59,bf3069b178fe40d789dd027901bc406b,0.525000,1,0,0,7,0,0,0,0,1,0
14815,57,76ddbd6576844afe811f1a3c0fbb5bec,0.333333,0,1,0,7,0,0,0,1,0,0
14816,64,f653cf2d8bba42d0a53c2937ee2e5893,0.425000,0,1,0,1,0,0,0,0,0,1
14817,70,79edb810789c447e8d212a324b44cc16,0.325000,1,0,0,3,0,0,0,1,0,0
14818,21,400d0536e8794cbb855b0d882d67cbda,0.600000,1,0,0,9,0,0,0,0,1,0
14819,60,cb23b66c56f64b109d673d5e56574529,0.941667,0,1,0,5,0,0,0,0,0,1
14820,45,6d5f3a774f3d4714ab0c092238f3a1d7,0.450000,1,0,0,6,0,0,0,0,0,1
14821,61,2cb4f97358b841b9a9773a7aa05a9d77,0.600000,0,1,0,7,0,0,0,0,0,1
14822,49,01d26f638c274aa0b965d24cefe3183f,0.608333,0,1,0,1,0,0,0,0,1,0
14823,83,9dc1421481194dcd9400aec7c9ae6366,0.416667,1,0,0,3,0,0,0,1,0,0
14824,62,e4052622e5ba45a8b96b59aba68cf068,0.683333,1,0,0,7,0,0,0,0,1,0

In [51]:
profile_became_member_on['age'].describe()

count    14825.000000
mean        54.393524
std         17.383705
min         18.000000
25%         42.000000
50%         55.000000
75%         66.000000
max        101.000000
Name: age, dtype: float64

In [52]:
profile_became_member_on['age'] = profile_became_member_on['age'] / 101
profile_became_member_on

,age,id,income,F,M,O,became_member_on_month,2013,2014,2015,2016,2017,2018
0,0.544554,0610b486422d4921ae7d2bf64640c50b,0.933333,1,0,0,7,0,0,0,0,1,0
1,0.742574,78afa995795e4d85b5d9ceeca43f5fef,0.833333,1,0,0,5,0,0,0,0,1,0
2,0.673267,e2127556f4f64592b11af22de27a7932,0.583333,0,1,0,4,0,0,0,0,0,1
3,0.643564,389bc3fa690240e798340f5a15918d5c,0.441667,0,1,0,2,0,0,0,0,0,1
4,0.574257,2eeac8d8feae4a8cad5a6af0499a211d,0.425000,0,1,0,11,0,0,0,0,1,0
5,0.603960,aa4862eba776480b8bb9c68455b8c2e1,0.475000,1,0,0,9,0,0,0,0,1,0
6,0.257426,e12aeaf2d47d42479ea1c4ac3d8286c6,0.383333,0,1,0,2,0,1,0,0,0,0
7,0.613861,31dda685af34476cad5bc968bdb01c53,0.591667,1,0,0,2,0,0,0,1,0,0
8,0.485149,62cf5e10845442329191fc246e7bcea3,0.433333,0,1,0,11,0,1,0,0,0,0
9,0.564356,6445de3b47274c759400cd68131d91b4,0.350000,0,1,0,12,0,0,0,0,1,0
10,0.603960,a448667f336b42c9a66fc5ffd5d73772,0.333333,1,0,0,5,0,0,0,0,0,1
11,0.396040,440cf1fd7580490c971d8c651ed962af,0.591667,1,0,0,5,0,0,0,1,0,0
12,0.633663,4b0da7e80e5945209a1fdddfe813dbe0,0.833333,0,1,0,9,0,0,0,0,1,0
13,0.772277,c27e0d6ab72c455a8bb66d980963de60,0.591667,1,0,0,6,0,0,0,0,1,0
14,0.415842,f806632c011441378d4646567f357a21,0.575000,0,1,0,8,1,0,0,0,0,0
15,0.554455,d058f73bf8674a26a95227db098147b1,0.733333,1,0,0,4,0,0,0,0,0,1
16,0.326733,c6c9884912c645429f3333f912b55f44,0.433333,1,0,0,9,0,0,0,0,1,0
17,0.455446,7429a044884842d6862f516c38b1156f,0.491667,1,0,0,9,0,0,0,0,1,0
18,0.584158,ebe7ef46ea6f4963a7dd49f501b26779,0.341667,0,1,0,1,0,0,1,0,0,0
19,0.663366,5917d13f6fa04286abdf95f4d5cefb1e,0.800000,0,1,0,8,0,1,0,0,0,0
20,0.524752,d1ede868e29245ea91818a903fec04c6,0.433333,0,0,1,9,0,0,0,0,1,0
21,0.217822,1e9420836d554513ab90eba98552d0a9,0.583333,0,1,0,9,0,0,0,0,1,0
22,0.950495,868317b9be554cb18e50bc68484749a2,0.741667,1,0,0,11,0,0,0,0,1,0
23,0.396040,f082d80f0aac47a99173ba8ef8fc1909,0.275000,0,1,0,7,0,0,0,1,0,0
24,0.683168,102e9454054946fda62242d2e176fdce,0.475000,1,0,0,8,0,0,0,1,0,0
25,0.554455,8dabe2142cdf4013a6f4786edf8ab00f,0.566667,0,1,0,5,0,1,0,0,0,0
26,0.257426,9f30b375d7bd4c62a884ffe7034e09ee,0.525000,1,0,0,8,0,0,0,0,1,0
27,0.742574,6e014185620b49bd98749f728747572f,0.333333,0,1,0,11,0,0,1,0,0,0
28,0.198020,02c083884c7d45b39cc68e1314fec56c,0.250000,1,0,0,7,0,0,0,1,0,0
29,0.445545,c0d210398dee4a0895b24444a5fcd1d2,0.275000,0,1,0,7,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14795,0.613861,8c3fbf6b89b248bb99b7a6ca628f401c,0.666667,1,0,0,1,0,0,0,0,1,0
14796,0.514851,68213b08d99a4ae1b0dcb72aebd9aa35,0.516667,0,1,0,4,0,0,0,0,0,1
14797,0.514851,e340cbf00a914f0c958577c0af36ed8a,0.283333,0,1,0,4,0,0,0,0,0,1
14798,0.534653,10316535e185400fb093c371d62254e3,0.425000,0,1,0,1,0,0,1,0,0,0
14799,0.534653,cec1cdc6b77e41abbdce8903c5522e7e,0.441667,0,1,0,6,0,0,1,0,0,0
14800,0.732673,2c6f50c1c07a444896e2a4e31d724f92,0.725000,0,1,0,7,0,0,0,0,1,0
14801,0.663366,a2e6029e17b6466187a40b66e333a73e,0.783333,0,1,0,11,0,0,1,0,0,0
14802,0.514851,6e71b66784844d1ab8376ac8ab096d4b,0.625000,1,0,0,5,0,0,0,0,0,1
14803,0.435644,e2fd53ed790240c586b3188f23542cca,0.425000,1,0,0,1,0,0,0,0,1,0
14804,0.297030,08eb126ad33f447ca3ad076482445c05,0.475000,0,1,0,10,0,0,1,0,0,0
14805,0.584158,f88e91a11d8f405b9a47ad3741415b83,0.591667,1,0,0,1,0,0,0,1,0,0
14806,0.603960,1b4df4b48bf64727a4c445909aea1251,0.675000,1,0,0,12,0,0,0,0,1,0
14807,0.386139,122c0c2a3c2540848f8c3fdc37e97639,0.450000,1,0,0,9,0,0,0,1,0,0
14808,0.287129,54bead4179c44b71acc4e8398181d183,0.483333,1,0,0,2,0,0,0,0,1,0
14809,0.623762,a00058cf10334a308c68e7631c529907,0.433333,1,0,0,9,1,0,0,0,0,0
14810,0.831683,1966fa40d2f84620b2b1b9b64f8e0209,0.775000,0,1,0,6,0,0,0,1,0,0
14811,0.712871,ff737c250d2343729ade04c4f6eb1001,0.541667,1,0,0,4,0,0,1,0,0,0
14812,0.742574,392d23b2c958493197f647bedfe4f418,0.650000,1,0,0,7,0,0,0,1,0,0
14813,0.257426,97ee6e7a12fe4064b260fa48bdd0330f,0.458333,0,1,0,6,0,0,0,0,0,1
14814,0.584158,bf3069b178fe40d789dd027901bc406b,0.525000,1,0,0,7,0,0,0,0,1,0
14815,0.564356,76ddbd6576844afe811f1a3c0fbb5bec,0.333333,0,1,0,7,0,0,0,1,0,0
14816,0.633663,f653cf2d8bba42d0a53c2937ee2e5893,0.425000,0,1,0,1,0,0,0,0,0,1
14817,0.693069,79edb810789c447e8d212a324b44cc16,0.325000,1,0,0,3,0,0,0,1,0,0
14818,0.207921,400d0536e8794cbb855b0d882d67cbda,0.600000,1,0,0,9,0,0,0,0,1,0
14819,0.594059,cb23b66c56f64b109d673d5e56574529,0.941667,0,1,0,5,0,0,0,0,0,1
14820,0.445545,6d5f3a774f3d4714ab0c092238f3a1d7,0.450000,1,0,0,6,0,0,0,0,0,1
14821,0.603960,2cb4f97358b841b9a9773a7aa05a9d77,0.600000,0,1,0,7,0,0,0,0,0,1
14822,0.485149,01d26f638c274aa0b965d24cefe3183f,0.608333,0,1,0,1,0,0,0,0,1,0
14823,0.821782,9dc1421481194dcd9400aec7c9ae6366,0.416667,1,0,0,3,0,0,0,1,0,0
14824,0.613861,e4052622e5ba45a8b96b59aba68cf068,0.683333,1,0,0,7,0,0,0,0,1,0

In [53]:
transcript_profile = pd.merge(transcript_on_value, profile_became_member_on, left_on = ['person'], right_on = ['id'])
transcript_profile

,person,time,offer completed,offer received,offer viewed,transaction,offer_id,amount,reward,age,...,F,M,O,became_member_on_month,2013,2014,2015,2016,2017,2018
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
1,78afa995795e4d85b5d9ceeca43f5fef,6,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
2,78afa995795e4d85b5d9ceeca43f5fef,132,0,0,0,1,None,19.89,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
3,78afa995795e4d85b5d9ceeca43f5fef,132,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,5.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
4,78afa995795e4d85b5d9ceeca43f5fef,144,0,0,0,1,None,17.78,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
5,78afa995795e4d85b5d9ceeca43f5fef,168,0,1,0,0,5a8bc65990b245e5a138643cd4eb9837,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
6,78afa995795e4d85b5d9ceeca43f5fef,216,0,0,1,0,5a8bc65990b245e5a138643cd4eb9837,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
7,78afa995795e4d85b5d9ceeca43f5fef,222,0,0,0,1,None,19.67,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
8,78afa995795e4d85b5d9ceeca43f5fef,240,0,0,0,1,None,29.72,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
9,78afa995795e4d85b5d9ceeca43f5fef,378,0,0,0,1,None,23.93,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
10,78afa995795e4d85b5d9ceeca43f5fef,408,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
11,78afa995795e4d85b5d9ceeca43f5fef,408,0,0,1,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
12,78afa995795e4d85b5d9ceeca43f5fef,504,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
13,78afa995795e4d85b5d9ceeca43f5fef,510,0,0,0,1,None,21.72,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
14,78afa995795e4d85b5d9ceeca43f5fef,510,1,0,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,10.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
15,78afa995795e4d85b5d9ceeca43f5fef,510,1,0,0,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,5.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
16,78afa995795e4d85b5d9ceeca43f5fef,534,0,0,0,1,None,26.56,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
17,78afa995795e4d85b5d9ceeca43f5fef,582,0,0,1,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,0.0,0.742574,...,1,0,0,5,0,0,0,0,1,0
18,e2127556f4f64592b11af22de27a7932,0,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
19,e2127556f4f64592b11af22de27a7932,18,0,0,1,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
20,e2127556f4f64592b11af22de27a7932,288,0,0,0,1,None,17.88,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
21,e2127556f4f64592b11af22de27a7932,294,0,0,0,1,None,21.43,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
22,e2127556f4f64592b11af22de27a7932,336,0,1,0,0,3f207df678b143eea3cee63160fa8bed,0.00,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
23,e2127556f4f64592b11af22de27a7932,408,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
24,e2127556f4f64592b11af22de27a7932,420,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
25,e2127556f4f64592b11af22de27a7932,504,0,1,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
26,e2127556f4f64592b11af22de27a7932,522,0,0,1,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
27,e2127556f4f64592b11af22de27a7932,522,0,0,0,1,None,18.42,0.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
28,e2127556f4f64592b11af22de27a7932,522,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.00,5.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
29,e2127556f4f64592b11af22de27a7932,522,1,0,0,0,fafdcd668e3743c1bb461111dcafc2a4,0.00,2.0,0.673267,...,0,1,0,4,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272732,fc966e9c3edc4578a1fb4c6a8c2659c2,516,0,0,1,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,0.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272733,fc966e9c3edc4578a1fb4c6a8c2659c2,528,0,0,0,1,None,15.70,0.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272734,fc966e9c3edc4578a1fb4c6a8c2659c2,528,1,0,0,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,5.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272735,fc966e9c3edc4578a1fb4c6a8c2659c2,576,0,1,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.00,0.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272736,fc966e9c3edc4578a1fb4c6a8c2659c2,594,0,0,1,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.00,0.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272737,fc966e9c3edc4578a1fb4c6a8c2659c2,654,0,0,0,1,None,21.01,0.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272738,fc966e9c3edc4578a1fb4c6a8c2659c2,654,1,0,0,0,2298d6c36e964ae4a3e7e9706d1fb8c2,0.00,3.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272739,fc966e9c3edc4578a1fb4c6a8c2659c2,696,0,0,0,1,None,24.59,0.0,0.594059,...,1,0,0,7,0,0,0,1,0,0
272740,47683732768a4f7db7abb710ca22e66e,504,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.237624,...,0,1,0,11,0,0,0,0,1,0
272741,47683732768a4f7db7abb710ca22e66e,540,0,0,1,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.237624,...,0,1,0,11,0,0,0,0,1,0
272742,47683732768a4f7db7abb710ca22e66e,576,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.237624,...,0,1,0,11,0,0,0,0,1,0
272743,47683732768a4f7db7abb710ca22e66e,630,0,0,1,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.237624,...,0,1,0,11,0,0,0,0,1,0
272744,47683732768a4f7db7abb710ca22e66e,684,0,0,0,1,None,7.10,0.0,0.237624,...,0,1,0,11,0,0,0,0,1,0
272745,3873fe915496482eb589fa316ae7b0db,504,0,1,0,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.574257,...,0,1,0,9,0,0,0,0,1,0
272746,3873fe915496482eb589fa316ae7b0db,510,0,0,1,0,ae264e3637204a6fb9bb56bc8210ddfd,0.00,0.0,0.574257,...,0,1,0,9,0,0,0,0,1,0
272747,3873fe915496482eb589fa316ae7b0db,510,0,0,0,1,None,1.57,0.0,0.574257,...,0,1,0,9,0,0,0,0,1,0
272748,3873fe915496482eb589fa316ae7b0db,576,0,1,0,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,0.0,0.574257,...,0,1,0,9,0,0,0,0,1,0
272749,3873fe915496482eb589fa316ae7b0db,582,0,0,1,0,f19421c1d4aa40978ebb69ca19b0e20d,0.00,0.0,0.574257,...,0,1,0,9,0,0,0,0,1,0
272750,3873fe915496482eb589fa316ae7b0db,588,0,0,0,1,None,1.21,0.0,0.574257,...,0,1,0,9,0,0,0,0,1,0
272751,3873fe915496482eb589fa316ae7b0db,612,0,0,0,1,None,2.65,0.0,0.574257,...,0,1,0,9,0,0,0,0,1,0
272752,8578196a074a4f328976e334fa9383a3,504,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0,0.475248,...,0,1,0,6,0,0,0,0,0,1
272753,8578196a074a4f328976e334fa9383a3,504,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0,0.475248,...,0,1,0,6,0,0,0,0,0,1
272754,8578196a074a4f328976e334fa9383a3,576,0,1,0,0,2906b810c7d4411798c6938adc9daaa5,0.00,0.0,0.475248,...,0,1,0,6,0,0,0,0,0,1
272755,8578196a074a4f328976e334fa9383a3,702,0,0,0,1,None,4.62,0.0,0.475248,...,0,1,0,6,0,0,0,0,0,1
272756,9fcbff4f8d7241faa4ab8a9d19c8a812,504,0,1,0,0,3f207df678b143eea3cee63160fa8bed,0.00,0.0,0.465347,...,0,1,0,10,0,0,0,0,1,0
272757,9fcbff4f8d7241faa4ab8a9d19c8a812,504,0,0,1,0,3f207df678b143eea3cee63160fa8bed,0.00,0.0,0.465347,...,0,1,0,10,0,0,0,0,1,0
272758,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0,0.465347,...,0,1,0,10,0,0,0,0,1,0
272759,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0,0.465347,...,0,1,0,10,0,0,0,0,1,0
272760,3045af4e98794a04a5542d3eac939b1f,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0,0.574257,...,1,0,0,10,0,0,0,1,0,0
272761,3045af4e98794a04a5542d3eac939b1f,576,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.00,0.0,0.574257,...,1,0,0,10,0,0,0,1,0,0

In [54]:
profile_became_member_on[profile_became_member_on['id'] == '78afa995795e4d85b5d9ceeca43f5fef']

,age,id,income,F,M,O,became_member_on_month,2013,2014,2015,2016,2017,2018
1,0.742574,78afa995795e4d85b5d9ceeca43f5fef,0.833333,1,0,0,5,0,0,0,0,1,0

In [55]:
transcript_profile.shape

(272762, 22)

In [56]:
transcript_profile_portfolio = pd.merge(transcript_profile, portfolio_channels, left_on = ['offer_id'], right_on = ['offer_id'])
transcript_profile_portfolio

,person,time,offer completed,offer received,offer viewed,transaction,offer_id,amount,reward,age,...,2018,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.742574,...,0,5,7,5,1,0,0,1,1,0
1,78afa995795e4d85b5d9ceeca43f5fef,6,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.742574,...,0,5,7,5,1,0,0,1,1,0
2,78afa995795e4d85b5d9ceeca43f5fef,132,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.742574,...,0,5,7,5,1,0,0,1,1,0
3,e2127556f4f64592b11af22de27a7932,408,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.673267,...,1,5,7,5,1,0,0,1,1,0
4,e2127556f4f64592b11af22de27a7932,420,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.673267,...,1,5,7,5,1,0,0,1,1,0
5,e2127556f4f64592b11af22de27a7932,522,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.673267,...,1,5,7,5,1,0,0,1,1,0
6,389bc3fa690240e798340f5a15918d5c,168,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
7,389bc3fa690240e798340f5a15918d5c,192,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
8,389bc3fa690240e798340f5a15918d5c,408,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
9,389bc3fa690240e798340f5a15918d5c,438,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
10,389bc3fa690240e798340f5a15918d5c,498,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
11,d058f73bf8674a26a95227db098147b1,504,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
12,d058f73bf8674a26a95227db098147b1,522,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
13,d058f73bf8674a26a95227db098147b1,576,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
14,d058f73bf8674a26a95227db098147b1,606,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
15,ebe7ef46ea6f4963a7dd49f501b26779,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.584158,...,0,5,7,5,1,0,0,1,1,0
16,ebe7ef46ea6f4963a7dd49f501b26779,576,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.584158,...,0,5,7,5,1,0,0,1,1,0
17,ebe7ef46ea6f4963a7dd49f501b26779,714,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.584158,...,0,5,7,5,1,0,0,1,1,0
18,868317b9be554cb18e50bc68484749a2,408,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.950495,...,0,5,7,5,1,0,0,1,1,0
19,868317b9be554cb18e50bc68484749a2,468,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.950495,...,0,5,7,5,1,0,0,1,1,0
20,f082d80f0aac47a99173ba8ef8fc1909,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
21,f082d80f0aac47a99173ba8ef8fc1909,12,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
22,f082d80f0aac47a99173ba8ef8fc1909,48,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
23,f082d80f0aac47a99173ba8ef8fc1909,504,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
24,f082d80f0aac47a99173ba8ef8fc1909,576,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
25,102e9454054946fda62242d2e176fdce,336,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
26,102e9454054946fda62242d2e176fdce,336,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
27,102e9454054946fda62242d2e176fdce,348,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
28,102e9454054946fda62242d2e176fdce,504,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
29,102e9454054946fda62242d2e176fdce,510,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148775,b569f65fd55d49c1b3942ec2e81fd910,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.316832,...,0,10,5,10,1,0,0,1,1,1
148776,20ba03a88c4e4ee6aef6201a94b8e67d,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.267327,...,1,10,5,10,1,0,0,1,1,1
148777,20ba03a88c4e4ee6aef6201a94b8e67d,414,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.267327,...,1,10,5,10,1,0,0,1,1,1
148778,4e3e0c39910f4af693e539455b4ca22f,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,0,10,5,10,1,0,0,1,1,1
148779,4e3e0c39910f4af693e539455b4ca22f,414,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,0,10,5,10,1,0,0,1,1,1
148780,249f8b93457642ccb1e8a22f956887e1,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148781,249f8b93457642ccb1e8a22f956887e1,450,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148782,249f8b93457642ccb1e8a22f956887e1,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148783,249f8b93457642ccb1e8a22f956887e1,594,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148784,3aa26d03b7d143fca0bce655ee4937c0,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.198020,...,1,10,5,10,1,0,0,1,1,1
148785,3aa26d03b7d143fca0bce655ee4937c0,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.198020,...,1,10,5,10,1,0,0,1,1,1
148786,9e11b206b5784951ba5b0ff06fd505cd,504,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.772277,...,0,10,5,10,1,0,0,1,1,1
148787,9e11b206b5784951ba5b0ff06fd505cd,516,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.772277,...,0,10,5,10,1,0,0,1,1,1
148788,9e11b206b5784951ba5b0ff06fd505cd,552,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.772277,...,0,10,5,10,1,0,0,1,1,1
148789,04698a1182a24807ad4c36f12b67c5ef,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.722772,...,0,10,5,10,1,0,0,1,1,1
148790,04698a1182a24807ad4c36f12b67c5ef,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.722772,...,0,10,5,10,1,0,0,1,1,1
148791,04698a1182a24807ad4c36f12b67c5ef,612,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.722772,...,0,10,5,10,1,0,0,1,1,1
148792,1044403864ed41af9cc17577c185abc4,504,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.326733,...,0,10,5,10,1,0,0,1,1,1
148793,1044403864ed41af9cc17577c185abc4,510,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.326733,...,0,10,5,10,1,0,0,1,1,1
148794,1044403864ed41af9cc17577c185abc4,528,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.326733,...,0,10,5,10,1,0,0,1,1,1
148795,9250d51a392f4f2691eabff6851dcf66,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.594059,...,0,10,5,10,1,0,0,1,1,1
148796,3a298dbf99ef4a23b9b46a1500e56101,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148797,3a298dbf99ef4a23b9b46a1500e56101,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148798,3a298dbf99ef4a23b9b46a1500e56101,588,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148799,8578196a074a4f328976e334fa9383a3,504,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,1,10,5,10,1,0,0,1,1,1
148800,8578196a074a4f328976e334fa9383a3,504,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,1,10,5,10,1,0,0,1,1,1
148801,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.465347,...,0,10,5,10,1,0,0,1,1,1
148802,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.465347,...,0,10,5,10,1,0,0,1,1,1
148803,3045af4e98794a04a5542d3eac939b1f,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148804,3045af4e98794a04a5542d3eac939b1f,576,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1

In [57]:
transcript_profile_portfolio.to_csv("transcript_profile_portfolio_test.csv", index=False)
transcript_profile_portfolio = pd.read_csv("transcript_profile_portfolio_test.csv")
transcript_profile_portfolio

,person,time,offer completed,offer received,offer viewed,transaction,offer_id,amount,reward,age,...,2018,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.742574,...,0,5,7,5,1,0,0,1,1,0
1,78afa995795e4d85b5d9ceeca43f5fef,6,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.742574,...,0,5,7,5,1,0,0,1,1,0
2,78afa995795e4d85b5d9ceeca43f5fef,132,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.742574,...,0,5,7,5,1,0,0,1,1,0
3,e2127556f4f64592b11af22de27a7932,408,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.673267,...,1,5,7,5,1,0,0,1,1,0
4,e2127556f4f64592b11af22de27a7932,420,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.673267,...,1,5,7,5,1,0,0,1,1,0
5,e2127556f4f64592b11af22de27a7932,522,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.673267,...,1,5,7,5,1,0,0,1,1,0
6,389bc3fa690240e798340f5a15918d5c,168,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
7,389bc3fa690240e798340f5a15918d5c,192,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
8,389bc3fa690240e798340f5a15918d5c,408,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
9,389bc3fa690240e798340f5a15918d5c,438,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
10,389bc3fa690240e798340f5a15918d5c,498,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.643564,...,1,5,7,5,1,0,0,1,1,0
11,d058f73bf8674a26a95227db098147b1,504,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
12,d058f73bf8674a26a95227db098147b1,522,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
13,d058f73bf8674a26a95227db098147b1,576,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
14,d058f73bf8674a26a95227db098147b1,606,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.554455,...,1,5,7,5,1,0,0,1,1,0
15,ebe7ef46ea6f4963a7dd49f501b26779,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.584158,...,0,5,7,5,1,0,0,1,1,0
16,ebe7ef46ea6f4963a7dd49f501b26779,576,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.584158,...,0,5,7,5,1,0,0,1,1,0
17,ebe7ef46ea6f4963a7dd49f501b26779,714,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.584158,...,0,5,7,5,1,0,0,1,1,0
18,868317b9be554cb18e50bc68484749a2,408,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.950495,...,0,5,7,5,1,0,0,1,1,0
19,868317b9be554cb18e50bc68484749a2,468,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.950495,...,0,5,7,5,1,0,0,1,1,0
20,f082d80f0aac47a99173ba8ef8fc1909,0,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
21,f082d80f0aac47a99173ba8ef8fc1909,12,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
22,f082d80f0aac47a99173ba8ef8fc1909,48,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
23,f082d80f0aac47a99173ba8ef8fc1909,504,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
24,f082d80f0aac47a99173ba8ef8fc1909,576,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.396040,...,0,5,7,5,1,0,0,1,1,0
25,102e9454054946fda62242d2e176fdce,336,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
26,102e9454054946fda62242d2e176fdce,336,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
27,102e9454054946fda62242d2e176fdce,348,1,0,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,5.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
28,102e9454054946fda62242d2e176fdce,504,0,1,0,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
29,102e9454054946fda62242d2e176fdce,510,0,0,1,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,0.0,0.0,0.683168,...,0,5,7,5,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148775,b569f65fd55d49c1b3942ec2e81fd910,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.316832,...,0,10,5,10,1,0,0,1,1,1
148776,20ba03a88c4e4ee6aef6201a94b8e67d,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.267327,...,1,10,5,10,1,0,0,1,1,1
148777,20ba03a88c4e4ee6aef6201a94b8e67d,414,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.267327,...,1,10,5,10,1,0,0,1,1,1
148778,4e3e0c39910f4af693e539455b4ca22f,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,0,10,5,10,1,0,0,1,1,1
148779,4e3e0c39910f4af693e539455b4ca22f,414,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,0,10,5,10,1,0,0,1,1,1
148780,249f8b93457642ccb1e8a22f956887e1,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148781,249f8b93457642ccb1e8a22f956887e1,450,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148782,249f8b93457642ccb1e8a22f956887e1,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148783,249f8b93457642ccb1e8a22f956887e1,594,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.514851,...,1,10,5,10,1,0,0,1,1,1
148784,3aa26d03b7d143fca0bce655ee4937c0,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.198020,...,1,10,5,10,1,0,0,1,1,1
148785,3aa26d03b7d143fca0bce655ee4937c0,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.198020,...,1,10,5,10,1,0,0,1,1,1
148786,9e11b206b5784951ba5b0ff06fd505cd,504,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.772277,...,0,10,5,10,1,0,0,1,1,1
148787,9e11b206b5784951ba5b0ff06fd505cd,516,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.772277,...,0,10,5,10,1,0,0,1,1,1
148788,9e11b206b5784951ba5b0ff06fd505cd,552,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.772277,...,0,10,5,10,1,0,0,1,1,1
148789,04698a1182a24807ad4c36f12b67c5ef,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.722772,...,0,10,5,10,1,0,0,1,1,1
148790,04698a1182a24807ad4c36f12b67c5ef,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.722772,...,0,10,5,10,1,0,0,1,1,1
148791,04698a1182a24807ad4c36f12b67c5ef,612,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.722772,...,0,10,5,10,1,0,0,1,1,1
148792,1044403864ed41af9cc17577c185abc4,504,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.326733,...,0,10,5,10,1,0,0,1,1,1
148793,1044403864ed41af9cc17577c185abc4,510,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.326733,...,0,10,5,10,1,0,0,1,1,1
148794,1044403864ed41af9cc17577c185abc4,528,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.326733,...,0,10,5,10,1,0,0,1,1,1
148795,9250d51a392f4f2691eabff6851dcf66,408,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.594059,...,0,10,5,10,1,0,0,1,1,1
148796,3a298dbf99ef4a23b9b46a1500e56101,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148797,3a298dbf99ef4a23b9b46a1500e56101,582,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148798,3a298dbf99ef4a23b9b46a1500e56101,588,1,0,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,10.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148799,8578196a074a4f328976e334fa9383a3,504,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,1,10,5,10,1,0,0,1,1,1
148800,8578196a074a4f328976e334fa9383a3,504,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.475248,...,1,10,5,10,1,0,0,1,1,1
148801,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.465347,...,0,10,5,10,1,0,0,1,1,1
148802,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.465347,...,0,10,5,10,1,0,0,1,1,1
148803,3045af4e98794a04a5542d3eac939b1f,576,0,1,0,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1
148804,3045af4e98794a04a5542d3eac939b1f,576,0,0,1,0,4d5c57ea9a6940dd891ad53e9dbe8da0,0.0,0.0,0.574257,...,0,10,5,10,1,0,0,1,1,1

In [58]:
transcript_profile_portfolio = transcript_profile_portfolio.drop('offer_id', axis=1)
transcript_profile_portfolio

,person,time,offer completed,offer received,offer viewed,transaction,amount,reward,age,id,...,2018,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,0.0,0.0,0.742574,78afa995795e4d85b5d9ceeca43f5fef,...,0,5,7,5,1,0,0,1,1,0
1,78afa995795e4d85b5d9ceeca43f5fef,6,0,0,1,0,0.0,0.0,0.742574,78afa995795e4d85b5d9ceeca43f5fef,...,0,5,7,5,1,0,0,1,1,0
2,78afa995795e4d85b5d9ceeca43f5fef,132,1,0,0,0,0.0,5.0,0.742574,78afa995795e4d85b5d9ceeca43f5fef,...,0,5,7,5,1,0,0,1,1,0
3,e2127556f4f64592b11af22de27a7932,408,0,1,0,0,0.0,0.0,0.673267,e2127556f4f64592b11af22de27a7932,...,1,5,7,5,1,0,0,1,1,0
4,e2127556f4f64592b11af22de27a7932,420,0,0,1,0,0.0,0.0,0.673267,e2127556f4f64592b11af22de27a7932,...,1,5,7,5,1,0,0,1,1,0
5,e2127556f4f64592b11af22de27a7932,522,1,0,0,0,0.0,5.0,0.673267,e2127556f4f64592b11af22de27a7932,...,1,5,7,5,1,0,0,1,1,0
6,389bc3fa690240e798340f5a15918d5c,168,0,1,0,0,0.0,0.0,0.643564,389bc3fa690240e798340f5a15918d5c,...,1,5,7,5,1,0,0,1,1,0
7,389bc3fa690240e798340f5a15918d5c,192,0,0,1,0,0.0,0.0,0.643564,389bc3fa690240e798340f5a15918d5c,...,1,5,7,5,1,0,0,1,1,0
8,389bc3fa690240e798340f5a15918d5c,408,0,1,0,0,0.0,0.0,0.643564,389bc3fa690240e798340f5a15918d5c,...,1,5,7,5,1,0,0,1,1,0
9,389bc3fa690240e798340f5a15918d5c,438,0,0,1,0,0.0,0.0,0.643564,389bc3fa690240e798340f5a15918d5c,...,1,5,7,5,1,0,0,1,1,0
10,389bc3fa690240e798340f5a15918d5c,498,1,0,0,0,0.0,5.0,0.643564,389bc3fa690240e798340f5a15918d5c,...,1,5,7,5,1,0,0,1,1,0
11,d058f73bf8674a26a95227db098147b1,504,0,1,0,0,0.0,0.0,0.554455,d058f73bf8674a26a95227db098147b1,...,1,5,7,5,1,0,0,1,1,0
12,d058f73bf8674a26a95227db098147b1,522,0,0,1,0,0.0,0.0,0.554455,d058f73bf8674a26a95227db098147b1,...,1,5,7,5,1,0,0,1,1,0
13,d058f73bf8674a26a95227db098147b1,576,0,1,0,0,0.0,0.0,0.554455,d058f73bf8674a26a95227db098147b1,...,1,5,7,5,1,0,0,1,1,0
14,d058f73bf8674a26a95227db098147b1,606,0,0,1,0,0.0,0.0,0.554455,d058f73bf8674a26a95227db098147b1,...,1,5,7,5,1,0,0,1,1,0
15,ebe7ef46ea6f4963a7dd49f501b26779,0,0,1,0,0,0.0,0.0,0.584158,ebe7ef46ea6f4963a7dd49f501b26779,...,0,5,7,5,1,0,0,1,1,0
16,ebe7ef46ea6f4963a7dd49f501b26779,576,0,1,0,0,0.0,0.0,0.584158,ebe7ef46ea6f4963a7dd49f501b26779,...,0,5,7,5,1,0,0,1,1,0
17,ebe7ef46ea6f4963a7dd49f501b26779,714,0,0,1,0,0.0,0.0,0.584158,ebe7ef46ea6f4963a7dd49f501b26779,...,0,5,7,5,1,0,0,1,1,0
18,868317b9be554cb18e50bc68484749a2,408,0,1,0,0,0.0,0.0,0.950495,868317b9be554cb18e50bc68484749a2,...,0,5,7,5,1,0,0,1,1,0
19,868317b9be554cb18e50bc68484749a2,468,1,0,0,0,0.0,5.0,0.950495,868317b9be554cb18e50bc68484749a2,...,0,5,7,5,1,0,0,1,1,0
20,f082d80f0aac47a99173ba8ef8fc1909,0,0,1,0,0,0.0,0.0,0.396040,f082d80f0aac47a99173ba8ef8fc1909,...,0,5,7,5,1,0,0,1,1,0
21,f082d80f0aac47a99173ba8ef8fc1909,12,1,0,0,0,0.0,5.0,0.396040,f082d80f0aac47a99173ba8ef8fc1909,...,0,5,7,5,1,0,0,1,1,0
22,f082d80f0aac47a99173ba8ef8fc1909,48,0,0,1,0,0.0,0.0,0.396040,f082d80f0aac47a99173ba8ef8fc1909,...,0,5,7,5,1,0,0,1,1,0
23,f082d80f0aac47a99173ba8ef8fc1909,504,0,1,0,0,0.0,0.0,0.396040,f082d80f0aac47a99173ba8ef8fc1909,...,0,5,7,5,1,0,0,1,1,0
24,f082d80f0aac47a99173ba8ef8fc1909,576,0,1,0,0,0.0,0.0,0.396040,f082d80f0aac47a99173ba8ef8fc1909,...,0,5,7,5,1,0,0,1,1,0
25,102e9454054946fda62242d2e176fdce,336,0,1,0,0,0.0,0.0,0.683168,102e9454054946fda62242d2e176fdce,...,0,5,7,5,1,0,0,1,1,0
26,102e9454054946fda62242d2e176fdce,336,0,0,1,0,0.0,0.0,0.683168,102e9454054946fda62242d2e176fdce,...,0,5,7,5,1,0,0,1,1,0
27,102e9454054946fda62242d2e176fdce,348,1,0,0,0,0.0,5.0,0.683168,102e9454054946fda62242d2e176fdce,...,0,5,7,5,1,0,0,1,1,0
28,102e9454054946fda62242d2e176fdce,504,0,1,0,0,0.0,0.0,0.683168,102e9454054946fda62242d2e176fdce,...,0,5,7,5,1,0,0,1,1,0
29,102e9454054946fda62242d2e176fdce,510,0,0,1,0,0.0,0.0,0.683168,102e9454054946fda62242d2e176fdce,...,0,5,7,5,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148775,b569f65fd55d49c1b3942ec2e81fd910,582,0,0,1,0,0.0,0.0,0.316832,b569f65fd55d49c1b3942ec2e81fd910,...,0,10,5,10,1,0,0,1,1,1
148776,20ba03a88c4e4ee6aef6201a94b8e67d,408,0,1,0,0,0.0,0.0,0.267327,20ba03a88c4e4ee6aef6201a94b8e67d,...,1,10,5,10,1,0,0,1,1,1
148777,20ba03a88c4e4ee6aef6201a94b8e67d,414,0,0,1,0,0.0,0.0,0.267327,20ba03a88c4e4ee6aef6201a94b8e67d,...,1,10,5,10,1,0,0,1,1,1
148778,4e3e0c39910f4af693e539455b4ca22f,408,0,1,0,0,0.0,0.0,0.475248,4e3e0c39910f4af693e539455b4ca22f,...,0,10,5,10,1,0,0,1,1,1
148779,4e3e0c39910f4af693e539455b4ca22f,414,0,0,1,0,0.0,0.0,0.475248,4e3e0c39910f4af693e539455b4ca22f,...,0,10,5,10,1,0,0,1,1,1
148780,249f8b93457642ccb1e8a22f956887e1,408,0,1,0,0,0.0,0.0,0.514851,249f8b93457642ccb1e8a22f956887e1,...,1,10,5,10,1,0,0,1,1,1
148781,249f8b93457642ccb1e8a22f956887e1,450,0,0,1,0,0.0,0.0,0.514851,249f8b93457642ccb1e8a22f956887e1,...,1,10,5,10,1,0,0,1,1,1
148782,249f8b93457642ccb1e8a22f956887e1,576,0,1,0,0,0.0,0.0,0.514851,249f8b93457642ccb1e8a22f956887e1,...,1,10,5,10,1,0,0,1,1,1
148783,249f8b93457642ccb1e8a22f956887e1,594,0,0,1,0,0.0,0.0,0.514851,249f8b93457642ccb1e8a22f956887e1,...,1,10,5,10,1,0,0,1,1,1
148784,3aa26d03b7d143fca0bce655ee4937c0,576,0,1,0,0,0.0,0.0,0.198020,3aa26d03b7d143fca0bce655ee4937c0,...,1,10,5,10,1,0,0,1,1,1
148785,3aa26d03b7d143fca0bce655ee4937c0,582,0,0,1,0,0.0,0.0,0.198020,3aa26d03b7d143fca0bce655ee4937c0,...,1,10,5,10,1,0,0,1,1,1
148786,9e11b206b5784951ba5b0ff06fd505cd,504,0,1,0,0,0.0,0.0,0.772277,9e11b206b5784951ba5b0ff06fd505cd,...,0,10,5,10,1,0,0,1,1,1
148787,9e11b206b5784951ba5b0ff06fd505cd,516,0,0,1,0,0.0,0.0,0.772277,9e11b206b5784951ba5b0ff06fd505cd,...,0,10,5,10,1,0,0,1,1,1
148788,9e11b206b5784951ba5b0ff06fd505cd,552,1,0,0,0,0.0,10.0,0.772277,9e11b206b5784951ba5b0ff06fd505cd,...,0,10,5,10,1,0,0,1,1,1
148789,04698a1182a24807ad4c36f12b67c5ef,576,0,1,0,0,0.0,0.0,0.722772,04698a1182a24807ad4c36f12b67c5ef,...,0,10,5,10,1,0,0,1,1,1
148790,04698a1182a24807ad4c36f12b67c5ef,582,0,0,1,0,0.0,0.0,0.722772,04698a1182a24807ad4c36f12b67c5ef,...,0,10,5,10,1,0,0,1,1,1
148791,04698a1182a24807ad4c36f12b67c5ef,612,1,0,0,0,0.0,10.0,0.722772,04698a1182a24807ad4c36f12b67c5ef,...,0,10,5,10,1,0,0,1,1,1
148792,1044403864ed41af9cc17577c185abc4,504,0,1,0,0,0.0,0.0,0.326733,1044403864ed41af9cc17577c185abc4,...,0,10,5,10,1,0,0,1,1,1
148793,1044403864ed41af9cc17577c185abc4,510,1,0,0,0,0.0,10.0,0.326733,1044403864ed41af9cc17577c185abc4,...,0,10,5,10,1,0,0,1,1,1
148794,1044403864ed41af9cc17577c185abc4,528,0,0,1,0,0.0,0.0,0.326733,1044403864ed41af9cc17577c185abc4,...,0,10,5,10,1,0,0,1,1,1
148795,9250d51a392f4f2691eabff6851dcf66,408,0,1,0,0,0.0,0.0,0.594059,9250d51a392f4f2691eabff6851dcf66,...,0,10,5,10,1,0,0,1,1,1
148796,3a298dbf99ef4a23b9b46a1500e56101,576,0,1,0,0,0.0,0.0,0.574257,3a298dbf99ef4a23b9b46a1500e56101,...,0,10,5,10,1,0,0,1,1,1
148797,3a298dbf99ef4a23b9b46a1500e56101,582,0,0,1,0,0.0,0.0,0.574257,3a298dbf99ef4a23b9b46a1500e56101,...,0,10,5,10,1,0,0,1,1,1
148798,3a298dbf99ef4a23b9b46a1500e56101,588,1,0,0,0,0.0,10.0,0.574257,3a298dbf99ef4a23b9b46a1500e56101,...,0,10,5,10,1,0,0,1,1,1
148799,8578196a074a4f328976e334fa9383a3,504,0,1,0,0,0.0,0.0,0.475248,8578196a074a4f328976e334fa9383a3,...,1,10,5,10,1,0,0,1,1,1
148800,8578196a074a4f328976e334fa9383a3,504,0,0,1,0,0.0,0.0,0.475248,8578196a074a4f328976e334fa9383a3,...,1,10,5,10,1,0,0,1,1,1
148801,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,1,0,0,0.0,0.0,0.465347,9fcbff4f8d7241faa4ab8a9d19c8a812,...,0,10,5,10,1,0,0,1,1,1
148802,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,0,1,0,0.0,0.0,0.465347,9fcbff4f8d7241faa4ab8a9d19c8a812,...,0,10,5,10,1,0,0,1,1,1
148803,3045af4e98794a04a5542d3eac939b1f,576,0,1,0,0,0.0,0.0,0.574257,3045af4e98794a04a5542d3eac939b1f,...,0,10,5,10,1,0,0,1,1,1
148804,3045af4e98794a04a5542d3eac939b1f,576,0,0,1,0,0.0,0.0,0.574257,3045af4e98794a04a5542d3eac939b1f,...,0,10,5,10,1,0,0,1,1,1

In [59]:
transcript_profile_portfolio = transcript_profile_portfolio.drop('id', axis=1)
transcript_profile_portfolio

,person,time,offer completed,offer received,offer viewed,transaction,amount,reward,age,income,...,2018,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,78afa995795e4d85b5d9ceeca43f5fef,0,0,1,0,0,0.0,0.0,0.742574,0.833333,...,0,5,7,5,1,0,0,1,1,0
1,78afa995795e4d85b5d9ceeca43f5fef,6,0,0,1,0,0.0,0.0,0.742574,0.833333,...,0,5,7,5,1,0,0,1,1,0
2,78afa995795e4d85b5d9ceeca43f5fef,132,1,0,0,0,0.0,5.0,0.742574,0.833333,...,0,5,7,5,1,0,0,1,1,0
3,e2127556f4f64592b11af22de27a7932,408,0,1,0,0,0.0,0.0,0.673267,0.583333,...,1,5,7,5,1,0,0,1,1,0
4,e2127556f4f64592b11af22de27a7932,420,0,0,1,0,0.0,0.0,0.673267,0.583333,...,1,5,7,5,1,0,0,1,1,0
5,e2127556f4f64592b11af22de27a7932,522,1,0,0,0,0.0,5.0,0.673267,0.583333,...,1,5,7,5,1,0,0,1,1,0
6,389bc3fa690240e798340f5a15918d5c,168,0,1,0,0,0.0,0.0,0.643564,0.441667,...,1,5,7,5,1,0,0,1,1,0
7,389bc3fa690240e798340f5a15918d5c,192,0,0,1,0,0.0,0.0,0.643564,0.441667,...,1,5,7,5,1,0,0,1,1,0
8,389bc3fa690240e798340f5a15918d5c,408,0,1,0,0,0.0,0.0,0.643564,0.441667,...,1,5,7,5,1,0,0,1,1,0
9,389bc3fa690240e798340f5a15918d5c,438,0,0,1,0,0.0,0.0,0.643564,0.441667,...,1,5,7,5,1,0,0,1,1,0
10,389bc3fa690240e798340f5a15918d5c,498,1,0,0,0,0.0,5.0,0.643564,0.441667,...,1,5,7,5,1,0,0,1,1,0
11,d058f73bf8674a26a95227db098147b1,504,0,1,0,0,0.0,0.0,0.554455,0.733333,...,1,5,7,5,1,0,0,1,1,0
12,d058f73bf8674a26a95227db098147b1,522,0,0,1,0,0.0,0.0,0.554455,0.733333,...,1,5,7,5,1,0,0,1,1,0
13,d058f73bf8674a26a95227db098147b1,576,0,1,0,0,0.0,0.0,0.554455,0.733333,...,1,5,7,5,1,0,0,1,1,0
14,d058f73bf8674a26a95227db098147b1,606,0,0,1,0,0.0,0.0,0.554455,0.733333,...,1,5,7,5,1,0,0,1,1,0
15,ebe7ef46ea6f4963a7dd49f501b26779,0,0,1,0,0,0.0,0.0,0.584158,0.341667,...,0,5,7,5,1,0,0,1,1,0
16,ebe7ef46ea6f4963a7dd49f501b26779,576,0,1,0,0,0.0,0.0,0.584158,0.341667,...,0,5,7,5,1,0,0,1,1,0
17,ebe7ef46ea6f4963a7dd49f501b26779,714,0,0,1,0,0.0,0.0,0.584158,0.341667,...,0,5,7,5,1,0,0,1,1,0
18,868317b9be554cb18e50bc68484749a2,408,0,1,0,0,0.0,0.0,0.950495,0.741667,...,0,5,7,5,1,0,0,1,1,0
19,868317b9be554cb18e50bc68484749a2,468,1,0,0,0,0.0,5.0,0.950495,0.741667,...,0,5,7,5,1,0,0,1,1,0
20,f082d80f0aac47a99173ba8ef8fc1909,0,0,1,0,0,0.0,0.0,0.396040,0.275000,...,0,5,7,5,1,0,0,1,1,0
21,f082d80f0aac47a99173ba8ef8fc1909,12,1,0,0,0,0.0,5.0,0.396040,0.275000,...,0,5,7,5,1,0,0,1,1,0
22,f082d80f0aac47a99173ba8ef8fc1909,48,0,0,1,0,0.0,0.0,0.396040,0.275000,...,0,5,7,5,1,0,0,1,1,0
23,f082d80f0aac47a99173ba8ef8fc1909,504,0,1,0,0,0.0,0.0,0.396040,0.275000,...,0,5,7,5,1,0,0,1,1,0
24,f082d80f0aac47a99173ba8ef8fc1909,576,0,1,0,0,0.0,0.0,0.396040,0.275000,...,0,5,7,5,1,0,0,1,1,0
25,102e9454054946fda62242d2e176fdce,336,0,1,0,0,0.0,0.0,0.683168,0.475000,...,0,5,7,5,1,0,0,1,1,0
26,102e9454054946fda62242d2e176fdce,336,0,0,1,0,0.0,0.0,0.683168,0.475000,...,0,5,7,5,1,0,0,1,1,0
27,102e9454054946fda62242d2e176fdce,348,1,0,0,0,0.0,5.0,0.683168,0.475000,...,0,5,7,5,1,0,0,1,1,0
28,102e9454054946fda62242d2e176fdce,504,0,1,0,0,0.0,0.0,0.683168,0.475000,...,0,5,7,5,1,0,0,1,1,0
29,102e9454054946fda62242d2e176fdce,510,0,0,1,0,0.0,0.0,0.683168,0.475000,...,0,5,7,5,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148775,b569f65fd55d49c1b3942ec2e81fd910,582,0,0,1,0,0.0,0.0,0.316832,0.516667,...,0,10,5,10,1,0,0,1,1,1
148776,20ba03a88c4e4ee6aef6201a94b8e67d,408,0,1,0,0,0.0,0.0,0.267327,0.416667,...,1,10,5,10,1,0,0,1,1,1
148777,20ba03a88c4e4ee6aef6201a94b8e67d,414,0,0,1,0,0.0,0.0,0.267327,0.416667,...,1,10,5,10,1,0,0,1,1,1
148778,4e3e0c39910f4af693e539455b4ca22f,408,0,1,0,0,0.0,0.0,0.475248,0.516667,...,0,10,5,10,1,0,0,1,1,1
148779,4e3e0c39910f4af693e539455b4ca22f,414,0,0,1,0,0.0,0.0,0.475248,0.516667,...,0,10,5,10,1,0,0,1,1,1
148780,249f8b93457642ccb1e8a22f956887e1,408,0,1,0,0,0.0,0.0,0.514851,0.483333,...,1,10,5,10,1,0,0,1,1,1
148781,249f8b93457642ccb1e8a22f956887e1,450,0,0,1,0,0.0,0.0,0.514851,0.483333,...,1,10,5,10,1,0,0,1,1,1
148782,249f8b93457642ccb1e8a22f956887e1,576,0,1,0,0,0.0,0.0,0.514851,0.483333,...,1,10,5,10,1,0,0,1,1,1
148783,249f8b93457642ccb1e8a22f956887e1,594,0,0,1,0,0.0,0.0,0.514851,0.483333,...,1,10,5,10,1,0,0,1,1,1
148784,3aa26d03b7d143fca0bce655ee4937c0,576,0,1,0,0,0.0,0.0,0.198020,0.525000,...,1,10,5,10,1,0,0,1,1,1
148785,3aa26d03b7d143fca0bce655ee4937c0,582,0,0,1,0,0.0,0.0,0.198020,0.525000,...,1,10,5,10,1,0,0,1,1,1
148786,9e11b206b5784951ba5b0ff06fd505cd,504,0,1,0,0,0.0,0.0,0.772277,0.650000,...,0,10,5,10,1,0,0,1,1,1
148787,9e11b206b5784951ba5b0ff06fd505cd,516,0,0,1,0,0.0,0.0,0.772277,0.650000,...,0,10,5,10,1,0,0,1,1,1
148788,9e11b206b5784951ba5b0ff06fd505cd,552,1,0,0,0,0.0,10.0,0.772277,0.650000,...,0,10,5,10,1,0,0,1,1,1
148789,04698a1182a24807ad4c36f12b67c5ef,576,0,1,0,0,0.0,0.0,0.722772,0.616667,...,0,10,5,10,1,0,0,1,1,1
148790,04698a1182a24807ad4c36f12b67c5ef,582,0,0,1,0,0.0,0.0,0.722772,0.616667,...,0,10,5,10,1,0,0,1,1,1
148791,04698a1182a24807ad4c36f12b67c5ef,612,1,0,0,0,0.0,10.0,0.722772,0.616667,...,0,10,5,10,1,0,0,1,1,1
148792,1044403864ed41af9cc17577c185abc4,504,0,1,0,0,0.0,0.0,0.326733,0.325000,...,0,10,5,10,1,0,0,1,1,1
148793,1044403864ed41af9cc17577c185abc4,510,1,0,0,0,0.0,10.0,0.326733,0.325000,...,0,10,5,10,1,0,0,1,1,1
148794,1044403864ed41af9cc17577c185abc4,528,0,0,1,0,0.0,0.0,0.326733,0.325000,...,0,10,5,10,1,0,0,1,1,1
148795,9250d51a392f4f2691eabff6851dcf66,408,0,1,0,0,0.0,0.0,0.594059,0.558333,...,0,10,5,10,1,0,0,1,1,1
148796,3a298dbf99ef4a23b9b46a1500e56101,576,0,1,0,0,0.0,0.0,0.574257,0.983333,...,0,10,5,10,1,0,0,1,1,1
148797,3a298dbf99ef4a23b9b46a1500e56101,582,0,0,1,0,0.0,0.0,0.574257,0.983333,...,0,10,5,10,1,0,0,1,1,1
148798,3a298dbf99ef4a23b9b46a1500e56101,588,1,0,0,0,0.0,10.0,0.574257,0.983333,...,0,10,5,10,1,0,0,1,1,1
148799,8578196a074a4f328976e334fa9383a3,504,0,1,0,0,0.0,0.0,0.475248,0.483333,...,1,10,5,10,1,0,0,1,1,1
148800,8578196a074a4f328976e334fa9383a3,504,0,0,1,0,0.0,0.0,0.475248,0.483333,...,1,10,5,10,1,0,0,1,1,1
148801,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,1,0,0,0.0,0.0,0.465347,0.783333,...,0,10,5,10,1,0,0,1,1,1
148802,9fcbff4f8d7241faa4ab8a9d19c8a812,576,0,0,1,0,0.0,0.0,0.465347,0.783333,...,0,10,5,10,1,0,0,1,1,1
148803,3045af4e98794a04a5542d3eac939b1f,576,0,1,0,0,0.0,0.0,0.574257,0.650000,...,0,10,5,10,1,0,0,1,1,1
148804,3045af4e98794a04a5542d3eac939b1f,576,0,0,1,0,0.0,0.0,0.574257,0.650000,...,0,10,5,10,1,0,0,1,1,1

In [60]:
transcript_profile_portfolio = transcript_profile_portfolio.drop('person', axis = 1)

In [61]:
transcript_profile_portfolio = transcript_profile_portfolio.drop('offer received', axis = 1)

In [62]:
transcript_profile_portfolio = transcript_profile_portfolio.drop('offer viewed', axis = 1)
transcript_profile_portfolio

,time,offer completed,transaction,amount,reward,age,income,F,M,O,...,2018,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,0,0,0,0.0,0.0,0.742574,0.833333,1,0,0,...,0,5,7,5,1,0,0,1,1,0
1,6,0,0,0.0,0.0,0.742574,0.833333,1,0,0,...,0,5,7,5,1,0,0,1,1,0
2,132,1,0,0.0,5.0,0.742574,0.833333,1,0,0,...,0,5,7,5,1,0,0,1,1,0
3,408,0,0,0.0,0.0,0.673267,0.583333,0,1,0,...,1,5,7,5,1,0,0,1,1,0
4,420,0,0,0.0,0.0,0.673267,0.583333,0,1,0,...,1,5,7,5,1,0,0,1,1,0
5,522,1,0,0.0,5.0,0.673267,0.583333,0,1,0,...,1,5,7,5,1,0,0,1,1,0
6,168,0,0,0.0,0.0,0.643564,0.441667,0,1,0,...,1,5,7,5,1,0,0,1,1,0
7,192,0,0,0.0,0.0,0.643564,0.441667,0,1,0,...,1,5,7,5,1,0,0,1,1,0
8,408,0,0,0.0,0.0,0.643564,0.441667,0,1,0,...,1,5,7,5,1,0,0,1,1,0
9,438,0,0,0.0,0.0,0.643564,0.441667,0,1,0,...,1,5,7,5,1,0,0,1,1,0
10,498,1,0,0.0,5.0,0.643564,0.441667,0,1,0,...,1,5,7,5,1,0,0,1,1,0
11,504,0,0,0.0,0.0,0.554455,0.733333,1,0,0,...,1,5,7,5,1,0,0,1,1,0
12,522,0,0,0.0,0.0,0.554455,0.733333,1,0,0,...,1,5,7,5,1,0,0,1,1,0
13,576,0,0,0.0,0.0,0.554455,0.733333,1,0,0,...,1,5,7,5,1,0,0,1,1,0
14,606,0,0,0.0,0.0,0.554455,0.733333,1,0,0,...,1,5,7,5,1,0,0,1,1,0
15,0,0,0,0.0,0.0,0.584158,0.341667,0,1,0,...,0,5,7,5,1,0,0,1,1,0
16,576,0,0,0.0,0.0,0.584158,0.341667,0,1,0,...,0,5,7,5,1,0,0,1,1,0
17,714,0,0,0.0,0.0,0.584158,0.341667,0,1,0,...,0,5,7,5,1,0,0,1,1,0
18,408,0,0,0.0,0.0,0.950495,0.741667,1,0,0,...,0,5,7,5,1,0,0,1,1,0
19,468,1,0,0.0,5.0,0.950495,0.741667,1,0,0,...,0,5,7,5,1,0,0,1,1,0
20,0,0,0,0.0,0.0,0.396040,0.275000,0,1,0,...,0,5,7,5,1,0,0,1,1,0
21,12,1,0,0.0,5.0,0.396040,0.275000,0,1,0,...,0,5,7,5,1,0,0,1,1,0
22,48,0,0,0.0,0.0,0.396040,0.275000,0,1,0,...,0,5,7,5,1,0,0,1,1,0
23,504,0,0,0.0,0.0,0.396040,0.275000,0,1,0,...,0,5,7,5,1,0,0,1,1,0
24,576,0,0,0.0,0.0,0.396040,0.275000,0,1,0,...,0,5,7,5,1,0,0,1,1,0
25,336,0,0,0.0,0.0,0.683168,0.475000,1,0,0,...,0,5,7,5,1,0,0,1,1,0
26,336,0,0,0.0,0.0,0.683168,0.475000,1,0,0,...,0,5,7,5,1,0,0,1,1,0
27,348,1,0,0.0,5.0,0.683168,0.475000,1,0,0,...,0,5,7,5,1,0,0,1,1,0
28,504,0,0,0.0,0.0,0.683168,0.475000,1,0,0,...,0,5,7,5,1,0,0,1,1,0
29,510,0,0,0.0,0.0,0.683168,0.475000,1,0,0,...,0,5,7,5,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148775,582,0,0,0.0,0.0,0.316832,0.516667,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148776,408,0,0,0.0,0.0,0.267327,0.416667,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148777,414,0,0,0.0,0.0,0.267327,0.416667,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148778,408,0,0,0.0,0.0,0.475248,0.516667,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148779,414,0,0,0.0,0.0,0.475248,0.516667,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148780,408,0,0,0.0,0.0,0.514851,0.483333,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148781,450,0,0,0.0,0.0,0.514851,0.483333,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148782,576,0,0,0.0,0.0,0.514851,0.483333,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148783,594,0,0,0.0,0.0,0.514851,0.483333,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148784,576,0,0,0.0,0.0,0.198020,0.525000,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148785,582,0,0,0.0,0.0,0.198020,0.525000,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148786,504,0,0,0.0,0.0,0.772277,0.650000,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148787,516,0,0,0.0,0.0,0.772277,0.650000,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148788,552,1,0,0.0,10.0,0.772277,0.650000,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148789,576,0,0,0.0,0.0,0.722772,0.616667,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148790,582,0,0,0.0,0.0,0.722772,0.616667,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148791,612,1,0,0.0,10.0,0.722772,0.616667,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148792,504,0,0,0.0,0.0,0.326733,0.325000,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148793,510,1,0,0.0,10.0,0.326733,0.325000,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148794,528,0,0,0.0,0.0,0.326733,0.325000,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148795,408,0,0,0.0,0.0,0.594059,0.558333,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148796,576,0,0,0.0,0.0,0.574257,0.983333,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148797,582,0,0,0.0,0.0,0.574257,0.983333,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148798,588,1,0,0.0,10.0,0.574257,0.983333,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148799,504,0,0,0.0,0.0,0.475248,0.483333,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148800,504,0,0,0.0,0.0,0.475248,0.483333,0,1,0,...,1,10,5,10,1,0,0,1,1,1
148801,576,0,0,0.0,0.0,0.465347,0.783333,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148802,576,0,0,0.0,0.0,0.465347,0.783333,0,1,0,...,0,10,5,10,1,0,0,1,1,1
148803,576,0,0,0.0,0.0,0.574257,0.650000,1,0,0,...,0,10,5,10,1,0,0,1,1,1
148804,576,0,0,0.0,0.0,0.574257,0.650000,1,0,0,...,0,10,5,10,1,0,0,1,1,1

In [63]:
transcript_profile_portfolio = transcript_profile_portfolio.drop('time', axis = 1)
transcript_profile_portfolio

,offer completed,transaction,amount,reward,age,income,F,M,O,became_member_on_month,...,2018,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,0,0,0.0,0.0,0.742574,0.833333,1,0,0,5,...,0,5,7,5,1,0,0,1,1,0
1,0,0,0.0,0.0,0.742574,0.833333,1,0,0,5,...,0,5,7,5,1,0,0,1,1,0
2,1,0,0.0,5.0,0.742574,0.833333,1,0,0,5,...,0,5,7,5,1,0,0,1,1,0
3,0,0,0.0,0.0,0.673267,0.583333,0,1,0,4,...,1,5,7,5,1,0,0,1,1,0
4,0,0,0.0,0.0,0.673267,0.583333,0,1,0,4,...,1,5,7,5,1,0,0,1,1,0
5,1,0,0.0,5.0,0.673267,0.583333,0,1,0,4,...,1,5,7,5,1,0,0,1,1,0
6,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
7,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
8,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
9,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
10,1,0,0.0,5.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
11,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
12,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
13,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
14,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
15,0,0,0.0,0.0,0.584158,0.341667,0,1,0,1,...,0,5,7,5,1,0,0,1,1,0
16,0,0,0.0,0.0,0.584158,0.341667,0,1,0,1,...,0,5,7,5,1,0,0,1,1,0
17,0,0,0.0,0.0,0.584158,0.341667,0,1,0,1,...,0,5,7,5,1,0,0,1,1,0
18,0,0,0.0,0.0,0.950495,0.741667,1,0,0,11,...,0,5,7,5,1,0,0,1,1,0
19,1,0,0.0,5.0,0.950495,0.741667,1,0,0,11,...,0,5,7,5,1,0,0,1,1,0
20,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
21,1,0,0.0,5.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
22,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
23,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
24,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
25,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
26,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
27,1,0,0.0,5.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
28,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
29,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148775,0,0,0.0,0.0,0.316832,0.516667,0,1,0,10,...,0,10,5,10,1,0,0,1,1,1
148776,0,0,0.0,0.0,0.267327,0.416667,0,1,0,7,...,1,10,5,10,1,0,0,1,1,1
148777,0,0,0.0,0.0,0.267327,0.416667,0,1,0,7,...,1,10,5,10,1,0,0,1,1,1
148778,0,0,0.0,0.0,0.475248,0.516667,0,1,0,12,...,0,10,5,10,1,0,0,1,1,1
148779,0,0,0.0,0.0,0.475248,0.516667,0,1,0,12,...,0,10,5,10,1,0,0,1,1,1
148780,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148781,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148782,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148783,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148784,0,0,0.0,0.0,0.198020,0.525000,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148785,0,0,0.0,0.0,0.198020,0.525000,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148786,0,0,0.0,0.0,0.772277,0.650000,1,0,0,2,...,0,10,5,10,1,0,0,1,1,1
148787,0,0,0.0,0.0,0.772277,0.650000,1,0,0,2,...,0,10,5,10,1,0,0,1,1,1
148788,1,0,0.0,10.0,0.772277,0.650000,1,0,0,2,...,0,10,5,10,1,0,0,1,1,1
148789,0,0,0.0,0.0,0.722772,0.616667,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148790,0,0,0.0,0.0,0.722772,0.616667,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148791,1,0,0.0,10.0,0.722772,0.616667,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148792,0,0,0.0,0.0,0.326733,0.325000,0,1,0,8,...,0,10,5,10,1,0,0,1,1,1
148793,1,0,0.0,10.0,0.326733,0.325000,0,1,0,8,...,0,10,5,10,1,0,0,1,1,1
148794,0,0,0.0,0.0,0.326733,0.325000,0,1,0,8,...,0,10,5,10,1,0,0,1,1,1
148795,0,0,0.0,0.0,0.594059,0.558333,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148796,0,0,0.0,0.0,0.574257,0.983333,0,1,0,9,...,0,10,5,10,1,0,0,1,1,1
148797,0,0,0.0,0.0,0.574257,0.983333,0,1,0,9,...,0,10,5,10,1,0,0,1,1,1
148798,1,0,0.0,10.0,0.574257,0.983333,0,1,0,9,...,0,10,5,10,1,0,0,1,1,1
148799,0,0,0.0,0.0,0.475248,0.483333,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148800,0,0,0.0,0.0,0.475248,0.483333,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148801,0,0,0.0,0.0,0.465347,0.783333,0,1,0,10,...,0,10,5,10,1,0,0,1,1,1
148802,0,0,0.0,0.0,0.465347,0.783333,0,1,0,10,...,0,10,5,10,1,0,0,1,1,1
148803,0,0,0.0,0.0,0.574257,0.650000,1,0,0,10,...,0,10,5,10,1,0,0,1,1,1
148804,0,0,0.0,0.0,0.574257,0.650000,1,0,0,10,...,0,10,5,10,1,0,0,1,1,1

In [64]:
transcript_profile_portfolio.shape

(148805, 25)

In [65]:
column_name = 'offer completed'
cols = list(transcript_profile_portfolio.columns.values)
cols.pop(cols.index(column_name))
cols.append(column_name)
transcript_profile_portfolio.columns = cols
transcript_profile_portfolio

,transaction,amount,reward,age,income,F,M,O,became_member_on_month,2013,...,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social,offer completed
0,0,0,0.0,0.0,0.742574,0.833333,1,0,0,5,...,0,5,7,5,1,0,0,1,1,0
1,0,0,0.0,0.0,0.742574,0.833333,1,0,0,5,...,0,5,7,5,1,0,0,1,1,0
2,1,0,0.0,5.0,0.742574,0.833333,1,0,0,5,...,0,5,7,5,1,0,0,1,1,0
3,0,0,0.0,0.0,0.673267,0.583333,0,1,0,4,...,1,5,7,5,1,0,0,1,1,0
4,0,0,0.0,0.0,0.673267,0.583333,0,1,0,4,...,1,5,7,5,1,0,0,1,1,0
5,1,0,0.0,5.0,0.673267,0.583333,0,1,0,4,...,1,5,7,5,1,0,0,1,1,0
6,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
7,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
8,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
9,0,0,0.0,0.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
10,1,0,0.0,5.0,0.643564,0.441667,0,1,0,2,...,1,5,7,5,1,0,0,1,1,0
11,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
12,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
13,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
14,0,0,0.0,0.0,0.554455,0.733333,1,0,0,4,...,1,5,7,5,1,0,0,1,1,0
15,0,0,0.0,0.0,0.584158,0.341667,0,1,0,1,...,0,5,7,5,1,0,0,1,1,0
16,0,0,0.0,0.0,0.584158,0.341667,0,1,0,1,...,0,5,7,5,1,0,0,1,1,0
17,0,0,0.0,0.0,0.584158,0.341667,0,1,0,1,...,0,5,7,5,1,0,0,1,1,0
18,0,0,0.0,0.0,0.950495,0.741667,1,0,0,11,...,0,5,7,5,1,0,0,1,1,0
19,1,0,0.0,5.0,0.950495,0.741667,1,0,0,11,...,0,5,7,5,1,0,0,1,1,0
20,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
21,1,0,0.0,5.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
22,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
23,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
24,0,0,0.0,0.0,0.396040,0.275000,0,1,0,7,...,0,5,7,5,1,0,0,1,1,0
25,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
26,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
27,1,0,0.0,5.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
28,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
29,0,0,0.0,0.0,0.683168,0.475000,1,0,0,8,...,0,5,7,5,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148775,0,0,0.0,0.0,0.316832,0.516667,0,1,0,10,...,0,10,5,10,1,0,0,1,1,1
148776,0,0,0.0,0.0,0.267327,0.416667,0,1,0,7,...,1,10,5,10,1,0,0,1,1,1
148777,0,0,0.0,0.0,0.267327,0.416667,0,1,0,7,...,1,10,5,10,1,0,0,1,1,1
148778,0,0,0.0,0.0,0.475248,0.516667,0,1,0,12,...,0,10,5,10,1,0,0,1,1,1
148779,0,0,0.0,0.0,0.475248,0.516667,0,1,0,12,...,0,10,5,10,1,0,0,1,1,1
148780,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148781,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148782,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148783,0,0,0.0,0.0,0.514851,0.483333,0,1,0,2,...,1,10,5,10,1,0,0,1,1,1
148784,0,0,0.0,0.0,0.198020,0.525000,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148785,0,0,0.0,0.0,0.198020,0.525000,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148786,0,0,0.0,0.0,0.772277,0.650000,1,0,0,2,...,0,10,5,10,1,0,0,1,1,1
148787,0,0,0.0,0.0,0.772277,0.650000,1,0,0,2,...,0,10,5,10,1,0,0,1,1,1
148788,1,0,0.0,10.0,0.772277,0.650000,1,0,0,2,...,0,10,5,10,1,0,0,1,1,1
148789,0,0,0.0,0.0,0.722772,0.616667,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148790,0,0,0.0,0.0,0.722772,0.616667,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148791,1,0,0.0,10.0,0.722772,0.616667,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148792,0,0,0.0,0.0,0.326733,0.325000,0,1,0,8,...,0,10,5,10,1,0,0,1,1,1
148793,1,0,0.0,10.0,0.326733,0.325000,0,1,0,8,...,0,10,5,10,1,0,0,1,1,1
148794,0,0,0.0,0.0,0.326733,0.325000,0,1,0,8,...,0,10,5,10,1,0,0,1,1,1
148795,0,0,0.0,0.0,0.594059,0.558333,1,0,0,11,...,0,10,5,10,1,0,0,1,1,1
148796,0,0,0.0,0.0,0.574257,0.983333,0,1,0,9,...,0,10,5,10,1,0,0,1,1,1
148797,0,0,0.0,0.0,0.574257,0.983333,0,1,0,9,...,0,10,5,10,1,0,0,1,1,1
148798,1,0,0.0,10.0,0.574257,0.983333,0,1,0,9,...,0,10,5,10,1,0,0,1,1,1
148799,0,0,0.0,0.0,0.475248,0.483333,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148800,0,0,0.0,0.0,0.475248,0.483333,0,1,0,6,...,1,10,5,10,1,0,0,1,1,1
148801,0,0,0.0,0.0,0.465347,0.783333,0,1,0,10,...,0,10,5,10,1,0,0,1,1,1
148802,0,0,0.0,0.0,0.465347,0.783333,0,1,0,10,...,0,10,5,10,1,0,0,1,1,1
148803,0,0,0.0,0.0,0.574257,0.650000,1,0,0,10,...,0,10,5,10,1,0,0,1,1,1
148804,0,0,0.0,0.0,0.574257,0.650000,1,0,0,10,...,0,10,5,10,1,0,0,1,1,1

In [66]:
import torch
import torch.nn as nn
import torch.nn.functional as F

class SimpleNet(nn.Module):
    
    def __init__(self, input_dim, hidden_dim, output_dim):
        super(SimpleNet, self).__init__()
        
        self.fc1 = nn.Linear(input_dim, hidden_dim)
        self.fc2 = nn.Linear(hidden_dim, output_dim)
        self.dropout = nn.Dropout(0.3)
        
        self.sig = nn.Sigmoid()
        
    def forward(self, x):
        out = F.relu(self.fc1(x))
        out = self.dropout(out)
        out = self.fc2(out)
#         print("before = ", out)
        out = self.sig(out)
#         print("after = ", out)
        return out

In [67]:
def split_train_test(dataframe_values, train_percent = 0.7):
    test_size = int(dataframe_values.shape[0] * train_percent)
    np.random.shuffle(dataframe_values)
    train_data = dataframe_values[:test_size]
    test_data = dataframe_values[test_size:]
    print("train size = ", train_data.shape)
    print("test size = ", test_data.shape)
    print("total size = ", test_data.shape[0] + train_data.shape[0])
    return train_data, test_data

In [68]:
train_data, test_data = split_train_test(transcript_profile_portfolio.values)

train size =  (104163, 25)
test size =  (44642, 25)
total size =  148805

In [69]:
import torch.utils.data
def get_loaders(data, batch_size = 64):
    x = torch.from_numpy(data[:, :-1]).float().squeeze()
    y = torch.from_numpy(data[:, -1]).float()
    
    ds = torch.utils.data.TensorDataset(x, y)
    loader = torch.utils.data.DataLoader(ds, batch_size = batch_size)
    return loader

In [70]:
train_loader = get_loaders(train_data)
train_loader

In [71]:
test_loader = get_loaders(test_data)
test_loader

In [72]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
binary_model = SimpleNet(24, 10, 1).to(device)
binary_model

SimpleNet(
  (fc1): Linear(in_features=24, out_features=10, bias=True)
  (fc2): Linear(in_features=10, out_features=1, bias=True)
  (dropout): Dropout(p=0.3)
  (sig): Sigmoid()
)

In [73]:
import torch.optim as optim

optimizer = optim.SGD(binary_model.parameters(), lr = 0.001, momentum=0.5)
criterion = nn.BCELoss()

In [74]:
def train(model, train_loader, epochs, criterion, optimizer, device):
    
    for epoch in range(0, epochs):
        model.train()
        
        total_loss = 0
        
        for batch in train_loader:
            
            batch_x, batch_y = batch
            
            batch_x = batch_x.to(device)
            batch_y = batch_y.to(device)
            
            optimizer.zero_grad()
            
            y_pred = model(batch_x)
            loss = criterion(y_pred, batch_y)
            loss.backward()
            optimizer.step()
            
            total_loss += loss.data.item()
            
        print("Epoch: {}, Loss: {}".format(epoch, total_loss/ len(train_loader)))
        
    return model

In [75]:
trained_model = train(binary_model, train_loader, 10, criterion, optimizer, device)

/opt/conda/lib/python3.6/site-packages/torch/nn/functional.py:1474: UserWarning: Using a target size (torch.Size([64])) that is different to the input size (torch.Size([64, 1])) is deprecated. Please ensure they have the same size.
  "Please ensure they have the same size.".format(target.size(), input.size()))
/opt/conda/lib/python3.6/site-packages/torch/nn/functional.py:1474: UserWarning: Using a target size (torch.Size([35])) that is different to the input size (torch.Size([35, 1])) is deprecated. Please ensure they have the same size.
  "Please ensure they have the same size.".format(target.size(), input.size()))

Epoch: 0, Loss: 0.5952642674967463
Epoch: 1, Loss: 0.5331430349874262
Epoch: 2, Loss: 0.5053392152235607
Epoch: 3, Loss: 0.47763992846012115
Epoch: 4, Loss: 0.4476290292653463
Epoch: 5, Loss: 0.42376045159611125
Epoch: 6, Loss: 0.39874910497328575
Epoch: 7, Loss: 0.37538895628778884
Epoch: 8, Loss: 0.35105317800834374
Epoch: 9, Loss: 0.33367892801395505

In [76]:
def test(model, test_loader, criterion, device):
    with torch.no_grad():
        true_labels = []
        predicted_labels = []
        model.eval()
        test_loss = 0
        correct = 0
        total = 0
        for data, target in test_loader:
            try:
                data, target = data.to(device), target.to(device)
                output = model(data)
            
                output_label = output.cpu().detach().numpy()
#                 print(output_label.shape)
                predicted_labels.extend(output_label.squeeze())
#                 print("okoknot")
                true_labels.extend(target.cpu().detach().numpy().squeeze())
                        
#                 print("okok")
#             test_loss += criterion(output, target).data.item()
            
                for i in range(0, len(output_label)):
                    if(output[i].round()==target[i]):
                        correct += 1
                    total += 1
            except:
                None
            
        print("accuracy = {}".format(correct/total))
        return np.asarray(true_labels), np.asarray(predicted_labels)

In [77]:
true_labels, predicted_labels = test(trained_model, test_loader, criterion, device)
print(len(true_labels))
print(len(predicted_labels))

accuracy = 0.9751131221719457
44642
44642

In [78]:
f1_score(true_labels, predicted_labels.round())

0.98137187505239676

# KNeighborsClassifier

In [79]:
kclassifier = KNeighborsClassifier()

In [80]:
kclassifier.fit(train_data[:, :-1], train_data[:, -1])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [81]:
kclassifier.score(test_data[:, :-1], test_data[:, -1])

1.0

In [82]:
kclassifier_predicted = kclassifier.predict(test_data[:, :-1])

In [83]:
f1_score(test_data[:, -1], kclassifier_predicted.round())

1.0

# GaussianNB

In [84]:
gaussian = GaussianNB()

In [85]:
gaussian.fit(train_data[:, :-1], train_data[:, -1])

GaussianNB(priors=None)

In [86]:
gaussian.score(test_data[:, :-1], test_data[:, -1])

0.67060167555217065

In [87]:
gaussian_predicted = gaussian.predict(test_data[:, :-1])

In [88]:
f1_score(test_data[:, -1], gaussian_predicted.round())

0.71946124348970752

# Validating the model

In [89]:
df = transcript_profile_portfolio.iloc[:, :-1]
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

,transaction,amount,reward,age,income,F,M,O,became_member_on_month,2013,...,2018,offer_difficulty,offer_duration,offer_reward,offer_bogo,offer_discount,offer_informational,offer_web,offer_mobile,offer_social
0,0,0,0.0,0.0,0.742574,0.833333,1,0,0,5,...,1,0,5,7,5,1,0,0,1,1
1,0,0,0.0,0.0,0.742574,0.833333,1,0,0,5,...,1,0,5,7,5,1,0,0,1,1
2,1,0,0.0,5.0,0.742574,0.833333,1,0,0,5,...,1,0,5,7,5,1,0,0,1,1
3,0,0,0.0,0.0,0.673267,0.583333,0,1,0,4,...,0,1,5,7,5,1,0,0,1,1
4,0,0,0.0,0.0,0.673267,0.583333,0,1,0,4,...,0,1,5,7,5,1,0,0,1,1

In [90]:
y = transcript_profile_portfolio.iloc[:, 24:]
print(type(y))
y.head()

<class 'pandas.core.frame.DataFrame'>

   offer completed
0                0
1                0
2                0
3                0
4                0

In [91]:
from sklearn.model_selection import KFold
kf = KFold(n_splits = 5, shuffle = True)

In [92]:
binary_model_valid = SimpleNet(24, 10, 1).to(device)
optimizer = optim.SGD(binary_model_valid.parameters(), lr = 0.001, momentum=0.5)
criterion = nn.BCELoss()

In [93]:
def get_loaders_validating(x, y, batch_size = 64):
    print(x.shape)
    print(y.shape)
    print("---")
    X = torch.from_numpy(x).float().squeeze()
    Y = torch.from_numpy(y).float()
    ds = torch.utils.data.TensorDataset(X, Y)
    loader = torch.utils.data.DataLoader(ds, batch_size = batch_size)
    return loader

In [96]:
scores = []
for i in range(5):
    result = next(kf.split(transcript_profile_portfolio), None)
    x_train = df.iloc[result[0]]
    x_test = df.iloc[result[1]]
    y_train = y.iloc[result[0]]
    y_test = y.iloc[result[1]]
    
#     print(x_train[:])
    
    
    train_loader = get_loaders_validating(x_train.values, y_train.values)
    test_loader = get_loaders_validating(x_test.values, y_test.values)
    
    model = train(binary_model_valid, train_loader, 10, criterion, optimizer, device)
    true_labels, predicted_labels = test(model, test_loader, criterion, device)
    scores.append(accuracy_score(true_labels, predicted_labels.round()))
    
print("Scores from each Iteration: ", scores)
print("Average K-Fold Score: ", np.mean(scores))

(119044, 24)
(119044, 1)
---
(29761, 24)
(29761, 1)
---
Epoch: 0, Loss: 0.1835176132232332
Epoch: 1, Loss: 0.18292633514026366
Epoch: 2, Loss: 0.18467128233875726
Epoch: 3, Loss: 0.18194172400901495
Epoch: 4, Loss: 0.18381402833992141
Epoch: 5, Loss: 0.18297249739035484
Epoch: 6, Loss: 0.18412929937945746
Epoch: 7, Loss: 0.18341115315759035
Epoch: 8, Loss: 0.18324577662618913
Epoch: 9, Loss: 0.18444000930634652
accuracy = 0.9800739247311828
(119044, 24)
(119044, 1)
---
(29761, 24)
(29761, 1)
---
Epoch: 0, Loss: 0.1823983645272581
Epoch: 1, Loss: 0.18287794503898872
Epoch: 2, Loss: 0.18175744068325828
Epoch: 3, Loss: 0.18088063762287487
Epoch: 4, Loss: 0.18047620035552114
Epoch: 5, Loss: 0.18369227200832605
Epoch: 6, Loss: 0.1849003262318207
Epoch: 7, Loss: 0.18309042964206038
Epoch: 8, Loss: 0.18189401956884108
Epoch: 9, Loss: 0.18014114171301568
accuracy = 0.9908602150537634
(119044, 24)
(119044, 1)
---
(29761, 24)
(29761, 1)
---
Epoch: 0, Loss: 0.17951728470905715
Epoch: 1, Loss: 0.18241546237402986
Epoch: 2, Loss: 0.1818792993921636
Epoch: 3, Loss: 0.1817190021047077
Epoch: 4, Loss: 0.1812748064000724
Epoch: 5, Loss: 0.17917529895181072
Epoch: 6, Loss: 0.18092808530037488
Epoch: 7, Loss: 0.18094313300171946
Epoch: 8, Loss: 0.18142462970750162
Epoch: 9, Loss: 0.18078884171173737
accuracy = 0.990994623655914
(119044, 24)
(119044, 1)
---
(29761, 24)
(29761, 1)
---
Epoch: 0, Loss: 0.18006407610792607
Epoch: 1, Loss: 0.18120761958733464
Epoch: 2, Loss: 0.1799538229767745
Epoch: 3, Loss: 0.18100351817885493
Epoch: 4, Loss: 0.18238771901900563
Epoch: 5, Loss: 0.1796761910076044
Epoch: 6, Loss: 0.18162887748024487
Epoch: 7, Loss: 0.18319809885676194
Epoch: 8, Loss: 0.17924828061914377
Epoch: 9, Loss: 0.1797339715002095
accuracy = 0.995396505376344
(119044, 24)
(119044, 1)
---
(29761, 24)
(29761, 1)
---
Epoch: 0, Loss: 0.17972997155858994
Epoch: 1, Loss: 0.18048615426364395
Epoch: 2, Loss: 0.1806836445950193
Epoch: 3, Loss: 0.1808301943573494
Epoch: 4, Loss: 0.1806162156307798
Epoch: 5, Loss: 0.17963589069653801
Epoch: 6, Loss: 0.1811520145814294
Epoch: 7, Loss: 0.18034614184744882
Epoch: 8, Loss: 0.18061005854969106
Epoch: 9, Loss: 0.1775489845973101
accuracy = 0.9967405913978494
Scores from each Iteration:  [0.98007392473118282, 0.99086021505376343, 0.99099462365591395, 0.99539650537634405, 0.99674059139784943]
Average K-Fold Score:  0.990813172043